///*================================================*\
//	BREAK POINTS
//----------------------------------------------------
//	Defines the points at which the page design
//	can snap and drastically change it's layout
//	these values are global and can be used in
//	all modules.
//*================================================*/

//browser spec min-supported width: 320px (iPhones)

$breakPoints: (
	'minimum': 320px, //*The smallest width that the site is able to shrink to */
	'tiny': 350px, //*essentially iphones in portrait view only*/
	'small': 480px,
	'mobile': 600px, ///*!MAJOR BREAK POINT!*//*Maximum for strict mobile view*/
	'phablet': 770px, //*essentially the maximum for iPads in portrait*/
	'tablet': 960px, ///*!MAJOR BREAK POINT!*/ /*good place to switch to tablet view*/
	'large': 1024px, //*maximum for iPads in landscape*/
	'page': 1200px, ///*!MAJOR BREAK POINT!*//*Point at which the edge of the desktop design meets the edge of the screen*/
);

@function bp($value){
	@return map-get($breakPoints, $value);
}
