
mixin bgImg(src, alt, spec)
	-
		spec = defaultTo(spec, {
			classes : '',
		});

	.bgImg.JS-bgImg(class=spec.classes)&attributes(attributes)
		//-takes base path into account if starting string with '/'
		- var path = src.substr(0,1) === '/' ? basePath+src : src;
		img(src=path, alt=alt)