block content
	:marked
		## Nesting grids

		(For demonstration purposes, the grid cells have been given padding. Padding is not included as part of the grid system though)

		To nest a grid inside another grid and ensure that the nested grid takes up the full height of the parent grid, you could do this, however it doesn't regress as nicely in legacy browsers that don't support flexbox.

	+demo({
html:`
.grid.grid--cols-2
	.grid__cell.grid.grid--cols-2.-color-1.add-padding
		.grid__cell.-color-2.add-padding
			:marked
				lots and lots of text in this cell forces the other grid to grow.

				This method doesn't regress nicely in legacy browsers though.

				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bonum incolumis acies: misera caecitas.
				Cur, nisi quod turpis oratio est? Atque haec coniunctio confusioque virtutum tamen a philosophis ratione quadam distinguitur.
		.grid__cell.-color-3
	.grid__cell.grid.grid--cols-2.-color-4.add-padding
		.grid__cell.-color-5
		.grid__cell.-color-6
`})
		:marked
			This method is ok if you don't need to support browsers that don't support flexbox.

	:marked
		If you do need to support legacy browsers though, the following method is not quite as clean but it has much better legacy browser support built in.

	+demo({
html:`
.grid.grid--hasInners.grid--cols-2
	.grid__cell.-color-1.add-padding
		.grid__inner.grid.grid--cols-2
			.grid__cell.-color-2.add-padding
				:marked
					Same as before but this time with much better legacy browser support.

					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bonum incolumis acies: misera caecitas.
					Cur, nisi quod turpis oratio est? Atque haec coniunctio confusioque virtutum tamen a philosophis ratione quadam distinguitur.
			.grid__cell.-color-3
	.grid__cell.-color-4.add-padding
		.grid__inner.grid.grid--cols-2
			.grid__cell.-color-5
			.grid__cell.-color-6
`}, {classes:'-noInnerPadding'})
		:marked
			The prefered method when legacy browser support is required

	:marked
		The important things to note here are the `grid--hasInners` and the `grid__inner` classes.

		The `grid--hasInners` class tells the grid that the `grid__inner` inside each `grid__cell` should take up the full height and width of it's parent.

		Each `grid__cell` can only contain one `grid__inner` and `grid__inner` must be a direct decendent of it's `grid__cell` parent.
