$MQ-text--is-small: (max, bp('mobile'));

.btn {
	font-weight: $bold;
	font-size: 1em;
	background-color: brand(1);
	color: brand(1, 'text');
	@include MG-animate;
	padding: 10px 15px;
	padding-right: 55px;
	display: inline-block;
	border-radius: 50px;
	transition: all 0.25s ease-in-out;
	position: relative;
	text-align: left;

	@include MG-hover {
		text-decoration: none;
		background-color: brand(1, 'hover');
	}

	@include mq($MQ-text--is-small){
		font-size: 0.75em;
	}
}
