.demo {
	margin: 25px 0 35px;
	&__segment {
		position: relative;
		margin-top: 35px;
		margin-bottom: 10px;
		&:last-child, &.grid__cell {
			margin-bottom: 0;
		}
		&:before {
			content: 'label';
			position: absolute;
			bottom: 100%;
			left: 0;
			padding: 5px 10px;
			background: #000;
			color: #fff;
			border-radius: 5px 5px 0 0;
		}
	}
	&__summary {
		background-color: #CDDEC4;
		padding: 20px;
		margin-bottom: 10px;
		margin-top: 60px;
		&:before {
			content: 'Summary';
		}

		+ .demo__result {
			margin-top: 45px;
		}
	}
	&__result {
		&:before {
			content: 'Example';

			.-false & {
				content: 'Not Gutter Grid'
			}
		}
		.grid {
			padding: 0;
		}

		.grid__cell, .mixin__cell {
			min-height: 100px;
			margin: 0;

			.-noHeight & {
				min-height: 0;
			}
		}
	}
	&__grid {
		clear: both;
	}
	&__markup {
		background-color: #17191a;
		position: relative;
		padding-left: 40px;
		display: flex;
		&:before {
			content: 'HTML';
		}
		&.scss:before {
			content: 'Sass';
		}

		pre {
			display: flex;
			padding: 0;
			&, &.lines {
				margin: 0;
			}

			&.lines {
				overflow: hidden;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				background: #000;
			}
		}

		code {
			margin-top: -20px;
			padding: {bottom: 10px; top: 10px; }
		}
	}
}