.demo {
	margin: 35px 0;
	margin: 3.5rem 0;

	&__content {
		padding: 10px;
		border: 1px solid #315116;
		// background: #CDDEC4;
	}

	&__segment {
		position: relative;
		margin-top: 40px;
		margin-top: 4rem;
		margin-bottom: 10px;
		margin-bottom: 1rem;

		&:last-child, &.grid__cell {
			margin-bottom: 0;
		}
		&:before {
			content: 'label';
			position: absolute;
			bottom: 100%;
			left: 0;
			padding: 5px 10px;
			background: #000;
			color: #fff;
			border-radius: 5px 5px 0 0;
		}
	}

	&__summary {
		.markdown-body & {
			display: block;
			background-color: #CDDEC4;
			padding: 20px;
			margin-top: 70px;
			margin-top: 7rem;
			margin-bottom: 5px;
			color: #000;
			font-family: Arial, Helvetica, sans-serif;
			font-style: normal;
			font-size: 1em;
			border: 1px solid #315116;

			&:before {
				content: 'Summary';
				font-family: Georgia, serif;
				font-style: italic;
				font-size: 1.2em;
				margin-left: -1px;
			}
	
			+ .demo__result {
				margin-top: 45px;
			}
		}
	}
	&__result {
		border: 1px solid #000;

		//The borders and shadows page demos can't have a real border
		.borders-and-shadows-on-guttered-cells & {
			box-shadow: 0 0 0 1px #000;
			border: 0;
		}

		.lt-ie9 & {
			outline: 1px solid #000;
		}

		&:before {
			content: 'Example';
			margin-left: -1px;

			.-false & {
				content: 'Not Gutter Grid'
			}
		}

		figure {
			margin: 25px;
			border: 1px solid #000;
			background: #f3f3f3;
			border-radius: 5px;
			overflow: hidden;

			@include mq(max, bp('mobile')) {
				margin-left: 10px;
				margin-right: 10px;
			}
		}
		figcaption {
			padding: 0.25em 0.5em;
			background-color: #CDDEC4;
			color: #000;
			margin-bottom: 0;
		}

		.grid {
			padding: 0;
		}

		.grid__cell, .mixin__cell {
			min-height: 100px;
			// margin: 0;

			.-noHeight & {
				min-height: 0;
			}
		}
	}
	&__grid {
		clear: both;
	}
	&__markup {
		background-color: #19191b;
		position: relative;
		padding-left: 40px;
		display: flex;
		&:before {
			content: 'HTML';
		}
		&.scss:before {
			content: 'Sass';
		}
		&.js:before {
			content: 'JS';
		}

		pre {
			display: flex;
			padding: 0;
			&, &.lines {
				margin: 0;
			}

			&.lines {
				overflow: hidden;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				background: #000;
			}
		}

		code {
			margin-top: -20px;
			padding: {bottom: 10px; top: 10px; }
		}
	}
}