
.owner {
	&__avatar {
		background-color: #666;
		display: block;
		margin: -40px 0;
		margin-right: 10px;

		@include mq(max, 750px){
			margin-top: -5px;
		}
	}

	&__img {
		display: block;
		border: 1px solid #2a2a2a;
		margin: 5px;
	}

	&__text {
		font-family:Georgia, serif;

		a {
			font-size: 16px;
			font-style: italic;
			white-space: nowrap;
		}
	}
}
