
mixin owner(spec)
	-
		spec = defaultTo(spec, {
			classes : '',
		});

	.owner(class=spec.classes)&attributes(attributes)
		h3.TK-visHid Owner
		.owner__grid.grid.grid--vAlign-center.grid--noWrap
			a.owner__avatar.grid__cell.grid__cell--noResize(href='https://github.com/Dan503')
				img.owner__img(src='https://s.gravatar.com/avatar/9da9f1df8def9d7b554fa7e03307a7b2?size=150&default=retro' alt="Dan503" width='75', height='75')
			p.owner__text.grid__cell #[a(href='https://github.com/Dan503') Daniel Tonon] maintains #[a(href='https://github.com/Dan503/gutter-grid') Gutter Grid]
