//http://hugogiraudel.com/2013/08/08/advanced-sass-list-functions/

//REVERSE A SASS LIST
//example:
//$list: a, b, (c d e), f, g, h;
//$new-list: reverse($list);        =  h, g, f, (c d e), b, a
//$new-list: reverse($list, true);  =  h, g, f, (e d c), b, a
@function reverse($list, $recursive: false) {
   $result: ();

   @for $i from length($list)*-1 through -1 {
      @if type-of(nth($list, abs($i))) == list and $recursive {
        $result: append($result, reverse(nth($list, abs($i)), $recursive));
      }

      @else {
        $result: append($result, nth($list, abs($i)));
      }
   }

   @return $result;
}
