//http://hugogiraudel.com/2013/08/08/advanced-sass-list-functions/

//OUTPUT A LIST AS A STRING
//example:
//$list: a, b, c d e, f, g, h;
//$new-list: to-string($list);   =    abcdefgh
//$new-list: to-string($list, '-');   =   a-b-c-d-e-f-g-h
@function to-string($list, $glue: '', $is-nested: false) {
	$result: null;

	@for $i from 1 through length($list) {
		$e: nth($list, $i);

		@if type-of($e) == list {
			$result: $result#{to-string($e, $glue, true)};
		}

		@else {
			$result: if($i != length($list) or $is-nested, $result#{$e}#{$glue}, $result#{$e});
		}
	}

	@return $result;
}
