//================================================*\
//*	gridS CONFIGURATION FILE						*/
//----------------------------------------------------
//	This file holds all the configurable aspects of
//	the grid class system
//================================================*/

$grid-prefix: '' !default;
$grid-page-width: 1200px !default;

//IE8 can't do transparent borders.
//This defines what the default color for gutters is in IE.
$grid-gutter-ie-fallback: #fff !default;

// Support for browsers that don't support flexbox is disabled by default
$grid-legacy-support: false !default;

// Support for browsers that support calc() is enabled by default
$grid-calc-support: not $grid-legacy-support !default;

//You can alter the available grid gutter sizes here
//usage: class="grid grid--gutter-moduleName"
$grid-cell-gutters: () !default;

//Set the points at which columns change widths
$grid-break-points: (
  //*2 column grid*/
  2: (
    1: 600px,//* At 600px wide screen and below, make it a 1 column grid */
  ),

  //*3 column grid*/
  3: (
    2 : (max, 960px),//* Use mq-scss syntax if preferred */
    1 : (max, 600px),
  ),

  //*4 column grid*/
  4: (
    2 : 960px,
    1 : 480px,
  ),

  //*5 column grid*/
  5: (
    3 : 960px,
    2 : 600px,
    1 : 480px,
  ),

  //*6 column grid*/
  6: (
    3 : 960px,
    2 : 600px,
    1 : 480px,
  )
) !default;

//if $grid-bp-list is set to "false", it creates a set of 6 "false" statements so grid system can have 6 columns
$grid-bp-list: if(
  $grid-break-points == false,
  false false false false false false,
  $grid-break-points
);
