//grid system mixin version

@import 'grid-settings';

@import 'grid-shared-mixins';

//make cells take up multiple columns worth of width
@mixin grid__cell--span($span, $totalCols, $important: ()){
	width: (percentage(1/$totalCols) * $span) $important;
}

@mixin grid(
	$cols: auto,
	$gutter: false,
	$inners: false,
	$vAlign: false,
	$align: false,
	$space: false,
	$wrap: auto,
	$MQs: true,
	$outerGutters: false,
	$cellSpan: false,
	$ieFloat: false,
	$mini: false,
	$vertical: false,
	$grow: true,
	$shrink: true,
	$resize: default,
	$breakpoints: default
){
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex !important;
	align-content: stretch;
	border-color: transparent;

	@if ($vertical){
		flex-direction: column;
	}

	@if (not $mini){
		min-width: 100%;
	}

	@if ($grid-break-points != false){
		@include mq(max, $grid-page-width){
			@if ($MQs and $wrap == auto){
				flex-wrap: wrap;
			}
		}
	}

	@if($inners) {
		> * {
			display: flex;
			align-items: stretch;
			> * {
				display: block;
				width: 100%;
			}
		}
	}

	//grid cell styling
	> * {
		box-sizing: border-box;
		min-width: 0%;
		max-width: 100%;
		display: if($inners, flex, block);
		padding: 0;
		margin: 0;
		background-clip: padding-box!important;
		border: 0 solid transparent;

		$canGrow: $resize == true or ($grow == true and $resize == default);
		$canShrink: $resize == true or ($shrink == true and $resize == default);
		flex-grow: if($canGrow, 1, 0);
		flex-shrink: if($canShrink, 1, 0);

		//column widths
		@if(type-of($cols) == number){

			$columnWidth: percentage(1/$cols);

			$breaks: '';

			@if ($breakpoints == default){
				$breaks: if(length($grid-bp-list) < $cols, false, nth($grid-bp-list, $cols));
			} @else {
				$breaks: $breakpoints;
			}

			width: $columnWidth;

			//Applies the media queries for the break points
			@if($MQs) {
				@if ($breaks != false) {
					@each $BP-deviceWidth, $V-columnWidth in $breaks {
						@include mq(max, $BP-deviceWidth){
							width: $V-columnWidth;
						}
					}
				}
			}
			@if ($wrap == true) {
				.no-flexwrap & {
					@if ($cols > 2) {
						&:nth-child(#{$cols}n+1) { clear: left; }
					}
				}
			}
		}

		//grid__inner styling
		> * {
			box-sizing: border-box;
		}
	}

	//tabular backup for IE9 and below
	.no-flexbox & {
		display: table !important;
		@if (not $mini){
			width: 100%;
		}
		> * {
			display: table-cell;
			vertical-align: top;
			float: if($ieFloat == true or $wrap == true, left, none);

			@if ($inners){
				> * { display: block; }
			}
		}

		@if ($vAlign){
			@if ($vAlign == 'top'){
				> * { vertical-align: top; }
			} @else if ($vAlign == 'center') {
				> * { vertical-align: middle; }
			} @else if ($vAlign == 'bottom') {
				> * { vertical-align: bottom; }
			}
		}

		@if($vertical){
			display: block !important;
			&:after {
				content: '';
				display: block;
				clear: both;
			}

			> * {
				float: left;
				display: block;
				width: 100%;
			}
		}
	}

	@if ($wrap == true){
		@include ieFloat;
		flex-wrap: wrap;
	}

	//allows IE to use floats instead of display table without affecting modern browsers
	@if ($ieFloat == true or $grow == false or $resize == false) {
		@include ieFloat;
	}

	//quick access to left,center and right alignments
	@if ($align or $space) {
		> * {
			flex-grow: 0;
		}

		@if ($align){
			@if ($align == 'left') {
				justify-content: flex-start;
			} @else if ($align == 'center') {
				justify-content: center;
			} @else if ($align == 'right') {
				justify-content: flex-end;
			} @else {
				@warn 'invalid value for $align: "#{$align}". Valid values: left, center, right.'
			}
		}

		//quick access to space-between and space-around
		@if ($space) {
			> * { flex-grow: 0; }

			@if ($space == 'between') {
				justify-content: space-between;
			} @else if ($space == 'around') {
				justify-content: space-around;
			} @else {
				@warn 'invalid value for $space: "#{$space}". Valid values: between, around.'
			}
		}

		.no-flexbox & {
			display: block;
			@if ($align == 'left') {
				text-align: left;
			} @else if ($align == 'right') {
				text-align: right;
			} @else {
				text-align: center;
			}
			> * {
				display: inline-block;
				float: none;
				margin-right: -5px!important;//removes space bar space
			}
		}
	}

	//vertical alignment of cells
	@if ($vAlign){
		@if ($vAlign == 'center') {
			align-items: center;
		} @else if ($vAlign == 'top') {
			align-items: flex-start;
		} @else if ($vAlign == 'bottom') {
			align-items: flex-end;
		} @else {
			@warn 'invalid value for $vAlign: "#{$vAlign}". Valid values: top, center, bottom.'
		}
	}

	//grid--gutter-# styling
	@if ($gutter != false){
		border-style: solid;
		> *, & {
			.lt-ie9 & { border-color: $grid-gutter-ie-fallback; }
		}

		@if (type-of($gutter) == 'string' and $gutter != 'mq'){
			$gutter: map-get($grid-cell-gutters, $gutter);
		}

		@if (nth($gutter,1) == 'mq') {
			@each $value in nth($gutter,2) {
				@if (length($value) > 1){
					$gutterSize: nth($value,1);
					$mediaQuery: nth($value,2);

					@include mq($mediaQuery){
						@include generate-gutters('mixin', $gutterSize, $outerGutters);
					}
				} @else {
					@include generate-gutters('mixin', $value, $outerGutters);
				}
			}
		} @else {
			@include generate-gutters('mixin', $gutter, $outerGutters);
		}
	}

	//outer gutters
	@if ($outerGutters != false){
		$possibleMargins: (
			true: margin,
			v: margin-top margin-bottom,
			h: margin-left margin-right,
			top: margin-top,
			bottom: margin-bottom,
			left: margin-left,
			right: margin-right,
		);
		$marginSet: map-get($possibleMargins, $outerGutters);
		@each $margin in $marginSet {
			#{$margin}: 0;
		}
	}
}
