//================================================*\
//*	gridS CONFIGURATION FILE						*/
//----------------------------------------------------
//	This file holds all the configurable aspects of
//	the grid class system
//================================================*/

//IE8 can't do transparent borders.
//This defines what the default color for gutters is in IE.
$gutter-ieFallback: $CG-body-bg;

//You can alter the available grid gutter sizes here
//usage: class="grid grid--gutter-moduleName"
$cellGutters: (
	'moduleName' : 20px,
	'demo' : 10px,
	'pageLayout' : 30px,
	'mediaQueryFriendly' : (
		50px, //*default*/
		25px (max, bp('tablet')), //*affected by media query*/
		10px (max, bp('mobile')) //*affected by media query*/
	)
);

//Set the points at which columns change widths
//position 1: the screen size the new width is applied to
//position 2: the new width of the columns at the specified screen size
$gridBreakPoints: (
	(
	//*1 column grid*/
		false
	), (
	//*2 column grid*/
		bp('mobile') 100%,//* At the "mobile" screen size, make the columns 100% width */
	), (
	//*3 column grid*/
		bp('mobile') 100%,
	), (
	//*4 column grid*/
		bp('tablet') 50%,
		bp('small') 100%,
	), (
	//*5 column grid*/
		bp('tablet') 33.33%,
		bp('mobile') 50%,
		bp('small') 100%,
	), (
	//*6 column grid*/
		bp('tablet') 33.33%,
		bp('mobile') 50%,
		bp('small') 100%,
	), (
	//*7 column grid*/
		bp('tablet') 33.33%,
		bp('mobile') 50%,
		bp('small') 100%,
	)
);
