/*	GRID STYLING FILE						*/
/*				GRID WIDTHS						*/
.grid--cols-1 > .grid__cell {
  width: 100%;
}

.grid--cols-2 > .grid__cell {
  width: 50%;
}

.grid--cols-2 > .grid__cell--span-2 {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .grid--cols-2:not(.grid--disableMQs) > .grid__cell {
    width: 100%;
  }
}

.grid--cols-3 > .grid__cell {
  width: 33.3333333333%;
}

.grid--cols-3 > .grid__cell--span-2 {
  width: 66.6666666667%;
}

.grid--cols-3 > .grid__cell--span-3 {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .grid--cols-3:not(.grid--disableMQs) > .grid__cell {
    width: 100%;
  }
}

.no-flexbox .grid--cols-3.grid--wrap > .grid__cell:nth-child(3n+1) {
  clear: left;
}

.grid--cols-4 > .grid__cell {
  width: 25%;
}

.grid--cols-4 > .grid__cell--span-2 {
  width: 50%;
}

.grid--cols-4 > .grid__cell--span-3 {
  width: 75%;
}

.grid--cols-4 > .grid__cell--span-4 {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .grid--cols-4:not(.grid--disableMQs) > .grid__cell {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .grid--cols-4:not(.grid--disableMQs) > .grid__cell {
    width: 100%;
  }
}

.no-flexbox .grid--cols-4.grid--wrap > .grid__cell:nth-child(4n+1) {
  clear: left;
}

.grid--cols-5 > .grid__cell {
  width: 20%;
}

.grid--cols-5 > .grid__cell--span-2 {
  width: 40%;
}

.grid--cols-5 > .grid__cell--span-3 {
  width: 60%;
}

.grid--cols-5 > .grid__cell--span-4 {
  width: 80%;
}

.grid--cols-5 > .grid__cell--span-5 {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .grid--cols-5:not(.grid--disableMQs) > .grid__cell {
    width: 33.33%;
  }
}

@media screen and (max-width: 600px) {
  .grid--cols-5:not(.grid--disableMQs) > .grid__cell {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .grid--cols-5:not(.grid--disableMQs) > .grid__cell {
    width: 100%;
  }
}

.no-flexbox .grid--cols-5.grid--wrap > .grid__cell:nth-child(5n+1) {
  clear: left;
}

.grid--cols-6 > .grid__cell {
  width: 16.6666666667%;
}

.grid--cols-6 > .grid__cell--span-2 {
  width: 33.3333333333%;
}

.grid--cols-6 > .grid__cell--span-3 {
  width: 50%;
}

.grid--cols-6 > .grid__cell--span-4 {
  width: 66.6666666667%;
}

.grid--cols-6 > .grid__cell--span-5 {
  width: 83.3333333333%;
}

.grid--cols-6 > .grid__cell--span-6 {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .grid--cols-6:not(.grid--disableMQs) > .grid__cell {
    width: 33.33%;
  }
}

@media screen and (max-width: 600px) {
  .grid--cols-6:not(.grid--disableMQs) > .grid__cell {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .grid--cols-6:not(.grid--disableMQs) > .grid__cell {
    width: 100%;
  }
}

.no-flexbox .grid--cols-6.grid--wrap > .grid__cell:nth-child(6n+1) {
  clear: left;
}

.grid--cols-7 > .grid__cell {
  width: 14.2857142857%;
}

.grid--cols-7 > .grid__cell--span-2 {
  width: 28.5714285714%;
}

.grid--cols-7 > .grid__cell--span-3 {
  width: 42.8571428571%;
}

.grid--cols-7 > .grid__cell--span-4 {
  width: 57.1428571429%;
}

.grid--cols-7 > .grid__cell--span-5 {
  width: 71.4285714286%;
}

.grid--cols-7 > .grid__cell--span-6 {
  width: 85.7142857143%;
}

.grid--cols-7 > .grid__cell--span-7 {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .grid--cols-7:not(.grid--disableMQs) > .grid__cell {
    width: 33.33%;
  }
}

@media screen and (max-width: 600px) {
  .grid--cols-7:not(.grid--disableMQs) > .grid__cell {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .grid--cols-7:not(.grid--disableMQs) > .grid__cell {
    width: 100%;
  }
}

.no-flexbox .grid--cols-7.grid--wrap > .grid__cell:nth-child(7n+1) {
  clear: left;
}

.grid {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  min-width: 100%;
  border: 0 solid #000;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.grid__wrapper {
  overflow: hidden;
}

.grid__cell {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 0%;
  max-width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  background-clip: padding-box !important;
  border: 0 solid transparent;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  outline-color: #000;
  border-color: #000;
}

.grid__cell--vAlign {
  -ms-flex-item-align: center;
      align-self: center;
}

.grid__cell--align-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.grid__cell--align-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid__cell--align-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.grid__cell.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid__cell, .grid__cell * > {
  max-width: 100%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.grid__cell--noGrowth {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.grid__cell--noShrink {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.grid__cell--noResize {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.grid__inner {
  display: block;
}

.grid[class*="grid--gutter-"].grid--outerGutters {
  margin: 0;
}

.grid[class*="grid--gutter-"].grid--outerGutters-v {
  margin-top: 0;
  margin-bottom: 0;
}

.grid[class*="grid--gutter-"].grid--outerGutters-h {
  margin-left: 0;
  margin-right: 0;
}

.grid[class*="grid--gutter-"].grid--outerGutters-top {
  margin-top: 0;
}

.grid[class*="grid--gutter-"].grid--outerGutters-bottom {
  margin-bottom: 0;
}

.grid[class*="grid--gutter-"].grid--outerGutters-left {
  margin-left: 0;
}

.grid[class*="grid--gutter-"].grid--outerGutters-right {
  margin-right: 0;
}

.grid[class*="grid--gutter-"] > .grid__cell, .grid[class*="grid--gutter-"] {
  border-color: transparent;
}

.lt-ie9 .grid[class*="grid--gutter-"] > .grid__cell, .lt-ie9 .grid[class*="grid--gutter-"] {
  border-color: #fff;
}

.grid--gutter-moduleName {
  margin: -20px;
  border-width: 20px 0 0 20px;
}

.grid--gutter-moduleName > .grid__cell {
  border-width: 0 20px 20px 0;
}

@media screen and (max-width: 1220px) {
  .grid--gutter-moduleName.grid--outerGutters-h-delayed {
    margin-left: 0;
    margin-right: 0;
  }
  .grid--gutter-moduleName.grid--outerGutters-left-delayed {
    margin-left: 0;
  }
  .grid--gutter-moduleName.grid--outerGutters-right-delayed {
    margin-right: 0;
  }
}

.grid--gutter-demo {
  margin: -10px;
  border-width: 10px 0 0 10px;
}

.grid--gutter-demo > .grid__cell {
  border-width: 0 10px 10px 0;
}

@media screen and (max-width: 1210px) {
  .grid--gutter-demo.grid--outerGutters-h-delayed {
    margin-left: 0;
    margin-right: 0;
  }
  .grid--gutter-demo.grid--outerGutters-left-delayed {
    margin-left: 0;
  }
  .grid--gutter-demo.grid--outerGutters-right-delayed {
    margin-right: 0;
  }
}

.grid--gutter-pageLayout {
  margin: -30px;
  border-width: 30px 0 0 30px;
}

.grid--gutter-pageLayout > .grid__cell {
  border-width: 0 30px 30px 0;
}

@media screen and (max-width: 1230px) {
  .grid--gutter-pageLayout.grid--outerGutters-h-delayed {
    margin-left: 0;
    margin-right: 0;
  }
  .grid--gutter-pageLayout.grid--outerGutters-left-delayed {
    margin-left: 0;
  }
  .grid--gutter-pageLayout.grid--outerGutters-right-delayed {
    margin-right: 0;
  }
}

.grid--gutter-mediaQueryFriendly {
  margin: -50px;
  border-width: 50px 0 0 50px;
}

.grid--gutter-mediaQueryFriendly > .grid__cell {
  border-width: 0 50px 50px 0;
}

@media screen and (max-width: 1250px) {
  .grid--gutter-mediaQueryFriendly.grid--outerGutters-h-delayed {
    margin-left: 0;
    margin-right: 0;
  }
  .grid--gutter-mediaQueryFriendly.grid--outerGutters-left-delayed {
    margin-left: 0;
  }
  .grid--gutter-mediaQueryFriendly.grid--outerGutters-right-delayed {
    margin-right: 0;
  }
}

@media screen and (max-width: 960px) {
  .grid--gutter-mediaQueryFriendly {
    margin: -25px;
    border-width: 25px 0 0 25px;
  }
  .grid--gutter-mediaQueryFriendly > .grid__cell {
    border-width: 0 25px 25px 0;
  }
}

@media screen and (max-width: 960px) and (max-width: 1225px) {
  .grid--gutter-mediaQueryFriendly.grid--outerGutters-h-delayed {
    margin-left: 0;
    margin-right: 0;
  }
  .grid--gutter-mediaQueryFriendly.grid--outerGutters-left-delayed {
    margin-left: 0;
  }
  .grid--gutter-mediaQueryFriendly.grid--outerGutters-right-delayed {
    margin-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .grid--gutter-mediaQueryFriendly {
    margin: -10px;
    border-width: 10px 0 0 10px;
  }
  .grid--gutter-mediaQueryFriendly > .grid__cell {
    border-width: 0 10px 10px 0;
  }
}

@media screen and (max-width: 600px) and (max-width: 1210px) {
  .grid--gutter-mediaQueryFriendly.grid--outerGutters-h-delayed {
    margin-left: 0;
    margin-right: 0;
  }
  .grid--gutter-mediaQueryFriendly.grid--outerGutters-left-delayed {
    margin-left: 0;
  }
  .grid--gutter-mediaQueryFriendly.grid--outerGutters-right-delayed {
    margin-right: 0;
  }
}

.grid--hasInners > .grid__cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.grid--hasInners > .grid__cell > .grid__inner {
  display: block;
  width: 100%;
}

.grid--hasInners > .grid__cell > .grid__inner.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid--vAlign:not(.grid--hasInners) > .grid__cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid--vAlign.grid--hasInners {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
              -ms-grid-row-align: stretch;
          align-items: stretch;
}

.grid--vAlign.grid--hasInners > .grid__cell > .grid__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid--vAlign-centered.grid--hasInners > .grid__cell > .grid__inner,
.grid--vAlign-centered:not(.grid--hasInners) > .grid__cell {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid--vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid--noGrowth > .grid__cell {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.grid--shrinkable {
  min-width: 0;
}

@media screen and (max-width: 1200px) {
  .grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.grid--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.no-flexwrap .grid--wrap {
  display: block;
}

.no-flexwrap .grid--wrap:after {
  content: '';
  display: block;
  clear: both;
}

.no-flexwrap .grid--wrap > .grid__cell {
  float: left;
  display: block;
}

.grid--noWrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.grid--space-between > .grid__cell, .grid--space-around > .grid__cell {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.grid--space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid--space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.grid--align-left > .grid__cell, .grid--align-center > .grid__cell, .grid--align-right > .grid__cell {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.grid--align-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.grid--align-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid--align-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.no-flexbox .grid {
  display: table;
  width: 100%;
}

.no-flexbox .grid > .grid__cell {
  display: table-cell;
  vertical-align: top;
}

.no-flexbox .grid--vAlign > .grid__cell {
  vertical-align: middle;
}

.no-flexbox .grid--vertical {
  display: block;
}

.no-flexbox .grid--vertical:after {
  content: '';
  display: block;
  clear: both;
}

.no-flexbox .grid--vertical > .grid__cell {
  float: left;
  display: block;
  width: 100%;
}

.no-flexwrap .grid--ieFloat {
  display: block;
}

.no-flexwrap .grid--ieFloat:after {
  content: '';
  display: block;
  clear: both;
}

.no-flexwrap .grid--ieFloat > .grid__cell {
  float: left;
  display: block;
}

/*# sourceMappingURL=custom-styles.css.map */
