
.accordion {
	&__revealer {
		display: none;
		@include mq(min, bp('page')){
			display: block !important;
		}
	}
	&__btn {
		background: #fff;
		text-decoration: none !important;
		width: 100%;
		padding: 15px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		@include mq(min, bp('page')){
			display: none;
		}

		span {
			display: block;
		}

		&:hover, &:focus {
			background-color: #eeeeee;
		}
	}
		&__icon {
			@include MG-menuIcon(#000);
			margin-right: 10px;
			margin-left: 0;

			.-accordion--open & {
				@include MG-menuIcon('cross');
			}
		}
}
