.accordion {
	$this: &;

	&__revealer {
		display: none;
		@include mq(min, bp('page')){
			display: block !important;
		}
	}
	&__btn {
		background: #fff;
		text-decoration: none !important;
		width: 100%;
		padding: 15px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		@include mq(min, bp('page')){
			display: none;
		}

		span {
			display: block;
		}

		&:hover,
		&:focus {
			// background-color: #eeeeee;

			#{$this}__icon {
				&,
				&::before,
				&::after {
					background-color: $CB-green-pale;
				}
				.-accordion--open & {
					background: transparent;
				}
			}
		}
	}

	&__icon {
		@include MG-menuIcon($CB-green-dark);
		margin-right: 10px;
		margin-left: 0;

		.-accordion--open & {
			@include MG-menuIcon('cross');
		}
	}
}
