include /_1_modules/1_btn/btn

mixin accordion(spec)
	-
		spec = defaultTo(spec, {
			classes : '',
		});

	.accordion(class=spec.classes).JS-accordion&attributes(attributes)
		+btn({type: 'button', classes: 'accordion__btn JS-accordion__toggle -light'})(aria-expanded="false")
			span.accordion__icon
			span.accordion__btnText Toggle Menu
		.accordion__revealer.JS-accordion__revealer
			if block
				block
			else
				p This is an example paragraph for the accordion module
