$breakPoints: (
    'minimum': 300px, //*The smallest width that the site is able to shrink to */
    'tiny': 350px, //*essentially iphones in portrait view only*/
    'small': 480px,
    'mobile': 600px, ///*!MAJOR BREAK POINT!*//*Maximum for strict mobile view*/
    'mid': 770px, //*essentially the maximum for iPads in portrait*/
    'tablet': 960px, ///*!MAJOR BREAK POINT!*/ /*good place to switch to tablet view*/
    'large': 1024px, //*maximum for iPads in landscape*/
    'page': 1200px, ///*!MAJOR BREAK POINT!*//*Point at which the edge of the desktop design meets the edge of the screen*/
);

@function bp($value){
    @return map-get($breakPoints, $value);
}

$colors: #63a52a #F16031 #510558 #3F53B2 #722912 #293F2D;

$grid-cell-gutters: (
	'moduleName' : 20px,
	'pageLayout' : 30px,
	'mediaQueryGutter' : (
		50px, //*default*/
		25px (max, 960px), //*affected by media query*/
		10px (max, 600px) //*affected by media query*/
	),
);
