
@import 'config.scss';

@import '../node_modules/mq-scss/mq';
@import '../grid';

body {
	padding: 0 20px;
}

h2,h3,h4,p,ul,ol{
	&:first-child { margin-top: 0; }
	&:last-child { margin-bottom: 0; }
}

.wrapper, .current-section {
	width: 100%;
	max-width: bp('page');
	margin: 0 auto;
	left: 0;
	right: 0;
}

footer {
	margin-bottom: 0;
}

@for $i from 1 through length($colors) {
    .-color-#{$i} {
        background-color: nth($colors,$i);
    }
}

.grid__cell {
	min-height: 100px;
}

code {
	background-color: #C5C7CC;
	//color: #abb2bf;
	padding: 3px 4px;
	font-size: 0.85em;
}

.markdown-body pre {
	background-color: #282c34;
	padding: 0;
	&, &.lines {
		margin: 0;
		padding:{left: 0; right: 0;}
	}
	&.lines {
		background-color: #000;
		width: 40px;
		padding: {left: 0; right: 0;}
		text-align: center;
	}
	code {
		padding: 10px 5px;
		font-size: 1em;
	}
}

@import 'modules/demo/demo';

