include modules/demo/demo

doctype html
// The Time Machine GitHub pages theme was designed and developed by Jon Rohan, on Feb 7, 2012.
// Follow him for fun. http://twitter.com/jonrohan. Tail his code on https://github.com/jonrohan
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		link(rel='stylesheet', href='stylesheets/stylesheet.css', media='screen')
		link(rel='stylesheet', href='stylesheets/github-dark.css')
		link(rel='stylesheet', href='stylesheets/custom-styles.css')
		script(type='text/javascript', src='javascripts/modernizr.min.js')
		title flexible-grid
		meta(name='description', content='A grid system that uses flexbox with display:table and float:left backups')
		meta(name='viewport', content='width=device-width,initial-scale=1')
	body
		.wrapper
			header
				h1.title flexible-grid
			#container
				p.tagline A grid system that uses flexbox with display:table and float:left backups
				#main(role='main')
					.download-bar
						.inner
							a.download-button.tar(href='https://github.com/Dan503/flexible-grid/tarball/master')
								span Download
							a.download-button.zip(href='https://github.com/Dan503/flexible-grid/zipball/master')
								span Download
							a.code(href='https://github.com/Dan503/flexible-grid') View flexible-grid on GitHub
						span.blc
						span.trc
					article.markdown-body
						:marked
							## Installation

							```````
							npm install flexible-grid --save
							```````

							Flexible-grid is dependent on [Modernizr](https://modernizr.com/) being a part of your build process. The particular Modernizr property it is dependent on is flex-wrap. To add Modernizr to your site, either [download a custom build that includes flex-wrap](https://modernizr.com/download?setclasses&q=flex-wrap) from the modernizr website and link to it in the HTML of your website, or you can incorporate [Customizr](https://www.npmjs.com/package/customizr) into your website compilation process. I recommend taking the second option.

							Another Dependency that Flexible-grid has is mq-scss. This is used for the media queries. After npm installing Flexible-grid, add this to the top of your main Sass file:

							`````scss
							@import '../node_modules/mq-scss/mq';
							@import '../node_modules/flexible-grid/grid';
							`````

							Things to note:

							- mq-scss will automatically install when installing flexible-grid
							- I've purposly not put the mq-scss include in the grid Sass file so that users will more likely see that mq-scss is available for them to use
							- Make sure that the import paths are actually correct. They will differ depending on your folder structure.

							## Basic usage

						+demo({
html:`
.grid.grid--cols-2
	.grid__cell.-color-1
	.grid__cell.-color-2`,
scss:`
$variable: red;`})
							:marked
								Summary text for the demo goes here

			footer
				.owner
					p
						a.avatar(href='https://github.com/Dan503')
							img(src='https://s.gravatar.com/avatar/9da9f1df8def9d7b554fa7e03307a7b2?size=50&default=retro', width='48', height='48')
						| #[a(href='https://github.com/Dan503') Dan503] maintains #[a(href='https://github.com/Dan503/flexible-grid') flexible-grid]

				.creds
					small
						| theme by #[a(href='https://twitter.com/jonrohan/') Jon Rohan]
		.current-section
			a(href='#top') Scroll to top
			a.tar(href='https://github.com/Dan503/flexible-grid/tarball/master') tar
			a.zip(href='https://github.com/Dan503/flexible-grid/zipball/master') zip
			a.code(href='') source code
			p.name

		link(rel='stylesheet', href='/stylesheets/highlight.theme.atom-one-dark.css')
		script(type='text/javascript', src='javascripts/highlight.pack.js')
		script(type='text/javascript').
			hljs.initHighlightingOnLoad();
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(type='text/javascript', src='javascripts/script.js')
