include modules/demo/demo

doctype html
// The Time Machine GitHub pages theme was designed and developed by Jon Rohan, on Feb 7, 2012.
// Follow him for fun. http://twitter.com/jonrohan. Tail his code on https://github.com/jonrohan
<!--[if lte IE 8]><html class="lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  //-link(rel='stylesheet', href='stylesheets/stylesheet.css', media='screen')
  link(rel='stylesheet', href='stylesheets/github-dark.css')
  link(rel='stylesheet', href='stylesheets/custom-styles.css')
  script(type='text/javascript', src='javascripts/modernizr.min.js')
  title gutter-grid
  meta(name='description', content='A grid system that uses flexbox with display:table and float:left backups')
  meta(name='viewport', content='width=device-width,initial-scale=1')
body
  .wrapper
    header
      h1.title gutter-grid
    #container
      p.tagline A grid system that uses flexbox with display:table and float:left backups
      #main(role='main')
        .download-bar
          .inner
            a.download-button.tar(href='https://github.com/Dan503/gutter-grid/tarball/master')
              span Download
            a.download-button.zip(href='https://github.com/Dan503/gutter-grid/zipball/master')
              span Download
            a.code(href='https://github.com/Dan503/gutter-grid') View gutter-grid on GitHub
          span.blc
          span.trc
        article.markdown-body
          :marked
            _**This documentation is best read on a desktop/laptop computer for the sake of viewing the live demos at all screen sizes.**_

          div
            :marked
              ## Installation

              ```````
              npm install gutter-grid --save
              ```````

              A dependency that gutter-grid has is [mq-scss](https://www.npmjs.com/package/mq-scss). This is used for the media queries.

              After npm installing gutter-grid, add this to the top of your main Sass file:

              `````scss
              @import '../node_modules/mq-scss/mq';
              @import '../node_modules/gutter-grid/grid-classes';
              `````

              Things to note:

              - mq-scss will automatically install when installing gutter-grid
              - I've purposly not put the mq-scss include in the grid Sass file so that users will more likely see that mq-scss is available for them to use
              - Make sure that the import paths are actually correct. They will differ depending on your folder structure.

              At this point, you are able to use the grid system and it will work well in any browsers that have full standards complient flexbox support. There are many old browsers that don't feature that level of support though. If your site needs to support those older browsers, there are a few more steps you need to take.

              > Read the **[How to support legacy browsers](#how-to-support-legacy-browsers)** section to get a run down on how to achieve maximum browser compatibility.

            :marked
              ## Basic usage

              A note on the examples. Any class that doesn't feature `grid` at the start of it's name is not part of the grid system. The minimum 100px height on grid cells is not part of the grid system either.

              The grid system classes follow a pattern based on the BEM naming convention:

              - **`grid`** initiallizes the grid functionality and acts as the grid module declaration

              - **`grid__elementName`** double underscores in a class name represent an element of the grid. Each element of a grid always goes in the same position relative to it's relevent `grid` class other related elements.

              - **`grid--settingName`** grid settings are represented with double dashes before the setting name. Grid settings alter the functionality of how the whole grid behaves.

              - **`grid__elementName--settingName`** a setting name after a grid element name is a setting that applies only to that grid element.

              The `grid__cell` classes may seem uneccessary but they help keep specificity down, they are needed for compatibility with older browsers, and they are also needed for some of the more advanced functionality in the grid system. `grid__cell` classes must always be direct decendents of a parent `grid` class.


            +demo({
html:`
.grid
  .grid__cell.-color-1
  .grid__cell.-color-2`,
})
              :marked
                The bare bones markup of what you need for gutter-grid to work (excluding color classes)

            :marked
              That example is a bit misleading though. Having 2 grid cells doesn't necessarily mean they will always be 50% width each

            +demo({
html:`
.grid
  .grid__cell.-color-1.add-padding
    :marked
      lots and lots and lots of text in this cell.

      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bonum incolumis acies: misera caecitas.
      Cur, nisi quod turpis oratio est? Atque haec coniunctio confusioque virtutum tamen a philosophis ratione quadam distinguitur.
      At ille pellit, qui permulcet sensum voluptate. Videamus igitur sententias eorum, tum ad verba redeamus.
      Duo Reges: constructio interrete. Quantum Aristoxeni ingenium consumptum videmus in musicis.
  .grid__cell.-color-2.add-padding
    :marked
      Barely any text in this cell`,
})
              :marked
                The previous example, but one cell has a lot of text while the other barely has any

            :marked
              ### Using columns

              To ensure that cells take up only 50% width each, add a `grid--cols-2` class to the same element as the `grid` class.

            +demo({
html:`
.grid.grid--cols-2
  .grid__cell.-color-1.add-padding
    :marked
      lots and lots and lots of text in this cell.

      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bonum incolumis acies: misera caecitas.
      Cur, nisi quod turpis oratio est? Atque haec coniunctio confusioque virtutum tamen a philosophis ratione quadam distinguitur.
      At ille pellit, qui permulcet sensum voluptate. Videamus igitur sententias eorum, tum ad verba redeamus.
      Duo Reges: constructio interrete. Quantum Aristoxeni ingenium consumptum videmus in musicis.
  .grid__cell.-color-2.add-padding
    :marked
      Barely any text in this cell`,
})
              :marked
                The previous example but adding the `grid--cols-2` class

            :marked
              The added bonus of using column classes is that there are baked in media queries for typical break points. This lets you build your site layout and not have to worry as much about making it mobile friendly.

            +demo({
html:`
.grid.grid--cols-2
  .grid__cell.-color-1
  .grid__cell.-color-2`
})
              :marked
                Examples of all the default column widths. Resize your browser to watch the media queries take effect.

            +demo({
html:`
.grid.grid--cols-3
  .grid__cell.-color-1
  .grid__cell.-color-2
  .grid__cell.-color-3
`
})
            +demo({
html:`
.grid.grid--cols-4
  .grid__cell.-color-1
  .grid__cell.-color-2
  .grid__cell.-color-3
  .grid__cell.-color-4
`
})
            +demo({
html:`
.grid.grid--cols-5
  .grid__cell.-color-1
  .grid__cell.-color-2
  .grid__cell.-color-3
  .grid__cell.-color-4
  .grid__cell.-color-5
`
})
            +demo({
html:`
.grid.grid--cols-6
  .grid__cell.-color-1
  .grid__cell.-color-2
  .grid__cell.-color-3
  .grid__cell.-color-4
  .grid__cell.-color-5
  .grid__cell.-color-6
`
})
            :marked
              ### Customising the columns

              If you don't like the default breakpoints or you need more columns, you can easily edit them by altering the `$grid-break-points` variable.

            +demo({
scss:`
$grid-break-points: (
  (
  //*1 column grid*/
  // no media query
    false
  ), (
  //*2 column grid*/
  //* From 600px screen size and below, make the columns 100% width */
    600px 100%,
  ), (
  //*3 column grid*/
    600px 100%,
  ), (
  //*4 column grid*/
    960px 50%,
    480px 100%,
  ), (
  //*5 column grid*/
    960px 33.33%,
    600px 50%,
    480px 100%,
  ), (
  //*6 column grid*/
    960px 33.33%,
    600px 50%,
    480px 100%,
  )
);

@import '../node_modules/mq-scss/mq';
@import '../node_modules/gutter-grid/grid-classes';`
})
              :marked
                These are the default settings. Edit them by placing a `$grid-break-points` variable before the import statements.

            +demo({
scss:`
//Disable all breakpoints
$grid-break-points: false;

@import '../node_modules/mq-scss/mq';
@import '../node_modules/gutter-grid/grid-classes';`
})
              :marked
                You can disable all break points by setting `$grid-break-points` to false. This will allow you to have up to 6 columns.

            :marked
              ## Enable wrapping

              Wrapping isn't enabled by default on desktop sized screens mostly for the sake of legacy browser compatibility. To enable wrapping on desktop, a `grid--wrap` class needs to be added. Without the class, if there are too many grid cells for the number of columns, it will squeeze them together instead of wrapping them.

            +demo({
html:`
.grid.grid--cols-3
  .grid__cell.-color-1
  .grid__cell.-color-2
  .grid__cell.-color-3
  .grid__cell.-color-4
  .grid__cell.-color-5
  .grid__cell.-color-6
`})
              :marked
                6 cells in a 3 column grid with grid--wrap **not enabled**

            +demo({
html:`
.grid.grid--cols-3.grid--wrap
  .grid__cell.-color-1
  .grid__cell.-color-2
  .grid__cell.-color-3
  .grid__cell.-color-4
  .grid__cell.-color-5
  .grid__cell.-color-6
`})
              :marked
                6 cells in a 3 column grid with grid--wrap **enabled**

            :marked
              When the browser reaches a certain screen size, wrapping becomes enabled by default so that the content in the grid is able to adapt to the smaller screen sizes. The setting that determines at what point `grid--wrap` enables itself is `$grid-page-width`. It is named "page-width" since it is meant to be the screen width at which the edge of the desktop design meets the edge of the screen.

            +demo({
scss:`
//This is the default setting
$grid-page-width: 1200px;

@import '../node_modules/mq-scss/mq';
@import '../node_modules/gutter-grid/grid-classes';`
})
              :marked
                Alter the screen size that grid wrapping becomes enabled by default at

            :marked
              To just outright disable grid wrapping for all screen sizes, use the `grid--noWrap` class.

            +demo({
html:`
.grid.grid--cols-6.grid--noWrap
  .grid__cell.-color-1
  .grid__cell.-color-2
  .grid__cell.-color-3
  .grid__cell.-color-4
  .grid__cell.-color-5
  .grid__cell.-color-6
`})
              :marked
                Disable grid wrapping at all screen sizes (resize browser window to see the effect)

            :marked
              ## Cells that span multiple columns

              Cells can be made to take up more than just a single column width by using a `grid__cell--span-#` class. The `#` being the number of columns you wish for the cell to span.

            +demo({
html:`
.grid.grid--cols-4.grid--wrap
  .grid__cell.grid__cell--span-3.-color-1
  .grid__cell.-color-2
  .grid__cell.-color-3
  .grid__cell.-color-4
  .grid__cell.-color-5
  .grid__cell.-color-6
`})

            :marked
              Grids that feature column spans often don't play nicely with the default media queries though. To work around this, it's usually best to simply disable the media queries on that particular grid and write your own custom styles with new media queries. To disable media queries on a grid, add the `grid--noMQs` class.

            +demo({
html:`
.grid.grid--noMQs.grid--cols-4.grid--wrap
  .grid__cell.grid__cell--span-3.-color-1
  .grid__cell.-color-2
  .grid__cell.-color-3
  .grid__cell.-color-4
  .grid__cell.-color-5
  .grid__cell.-color-6
`})
              :marked
                Same example as above except this time with the default media queries disabled. Resize your screen to see the difference.

            :marked
              ## Adding Gutters

              One of the hardest things to do well in css that is very common in web design is when you have multiple columns on multiple rows with gutters inbetween each item but the content in the outer columns need to line up with the edges of the other content on the page.

              This is easily achieved using gutter-grid though.

            +demo({
html:`
.grid__wrapper
  .grid.grid--gutter-moduleName.grid--cols-3.grid--wrap
    .grid__cell.-color-1
    .grid__cell.-color-2
    .grid__cell.-color-3
    .grid__cell.-color-4
    .grid__cell.-color-5
    .grid__cell.-color-6
`,
scss:`
//Define gutter sizes like this
$grid-cell-gutters: (
  'moduleName' : 20px,
);

@import '../node_modules/mq-scss/mq';
@import '../node_modules/gutter-grid/grid-classes';`
})
              :marked
                Defining a gutter size

            :marked
              The `grid__wrapper` element is to help contain the grid inside it's bounding box when gutters are applied to it. There is a glitch in Chrome that often ignores the top negative margin rule that makes the grid cells sit hard up againt the boundries of the grid. `grid__wrapper` prevents this glitch from being an issue.

              Anyway, that is how to create a fixed gutter that is the same width for all screen sizes, but what if you have a very thick gutter on desktop? It won't work well having an 80px wide gutter on a tablet or mobile device, it would take up too much screen realestate. The solution is gutters that contain media queries. Here is how to do them:

            +demo({
html:`
.grid__wrapper
  .grid.grid--gutter-mediaQueryGutter.grid--cols-3.grid--wrap
    .grid__cell.-color-1
    .grid__cell.-color-2
    .grid__cell.-color-3
    .grid__cell.-color-4
    .grid__cell.-color-5
    .grid__cell.-color-6
`,
scss:`
$grid-cell-gutters: (
  'basicGutter' : 20px,
  'mediaQueryGutter' : (
    80px, //*default gutter width*/
    25px (max, 960px), //*gutter width at 960px and below*/
    10px (max, 600px) //*gutter width at 600px and below*/
  )
);

@import '../node_modules/mq-scss/mq';
@import '../node_modules/gutter-grid/grid-classes';`
})
              :marked
                Applying gutters that are affected by media queries

            :marked
              Unlike a basic gutter which is just a single pixel value, a media query gutter is a list of pixel values with an optional media query attached to them. The media queries are not written in the standard css media query syntax though. They are written in the mq-scss mixin syntax. To learn more about how to write media queries using the mq-scss syntax, see the [mq-scss documentation](https://www.npmjs.com/package/mq-scss).

            :marked
              ## Outer gutters

              By default, gutters will place the grid cells on the very edge of the content area as shown in this example by a red bounding box:

            +demo({
html:`
.add-border.grid__wrapper
  .grid.grid--gutter-moduleName.grid--cols-3.grid--wrap
    .grid__cell.-color-1
    .grid__cell.-color-2
    .grid__cell.-color-3
    .grid__cell.-color-4
    .grid__cell.-color-5
    .grid__cell.-color-6
`})

            :marked
              This isn't always the desired layout though. sometimes you want the gutters to also apply around the edges of the grid as well. This is when the `grid--outerGutters` class comes in.

            +demo({
html:`
.add-border.grid__wrapper
  .grid.grid--outerGutters.grid--gutter-moduleName.grid--cols-3.grid--wrap
    .grid__cell.-color-1
    .grid__cell.-color-2
    .grid__cell.-color-3
    .grid__cell.-color-4
    .grid__cell.-color-5
    .grid__cell.-color-6
`})
              :marked
                Using the `grid--outerGutters` class to apply the gutter to the edges of the grid

            :marked
              The class also comes in horizontal only, and vertical only variants as `grid--outerGutters-h` for horizontal only and `grid--outerGutters-v` for vertical only.

            +demo({
html:`
.add-border.grid__wrapper
  .grid.grid--outerGutters-h.grid--gutter-moduleName.grid--cols-3.grid--wrap
    .grid__cell.-color-1
    .grid__cell.-color-2
    .grid__cell.-color-3
    .grid__cell.-color-4
    .grid__cell.-color-5
    .grid__cell.-color-6
`})
              :marked
                Horizontal and vertical only variants of the `grid--outerGutters` class

            +demo({
html:`
.add-border.grid__wrapper
  .grid.grid--outerGutters-v.grid--gutter-moduleName.grid--cols-3.grid--wrap
    .grid__cell.-color-1
    .grid__cell.-color-2
    .grid__cell.-color-3
    .grid__cell.-color-4
    .grid__cell.-color-5
    .grid__cell.-color-6
`})

            +demo({
html:`
.add-border.grid__wrapper
  .grid.grid--outerGutters-top.grid--gutter-moduleName.grid--cols-3.grid--wrap
    .grid__cell.-color-1
    .grid__cell.-color-2
    .grid__cell.-color-3
    .grid__cell.-color-4
    .grid__cell.-color-5
    .grid__cell.-color-6
`})
              :marked
                Top, bottom, left and right only variants

            +demo({
html:`
.add-border.grid__wrapper
  .grid.grid--outerGutters-bottom.grid--gutter-moduleName.grid--cols-3.grid--wrap
    .grid__cell.-color-1
    .grid__cell.-color-2
    .grid__cell.-color-3
    .grid__cell.-color-4
    .grid__cell.-color-5
    .grid__cell.-color-6
`})

            +demo({
html:`
.add-border.grid__wrapper
  .grid.grid--outerGutters-left.grid--gutter-moduleName.grid--cols-3.grid--wrap
    .grid__cell.-color-1
    .grid__cell.-color-2
    .grid__cell.-color-3
    .grid__cell.-color-4
    .grid__cell.-color-5
    .grid__cell.-color-6
`})

            +demo({
html:`
.add-border.grid__wrapper
  .grid.grid--outerGutters-right.grid--gutter-moduleName.grid--cols-3.grid--wrap
    .grid__cell.-color-1
    .grid__cell.-color-2
    .grid__cell.-color-3
    .grid__cell.-color-4
    .grid__cell.-color-5
    .grid__cell.-color-6
`})


            :marked
              Also, there is a delayed variant for the horizontal classes. This is primarily for use with overarching page layouts. The idea with the delayed varient is that when the screen reaches the point where the edge of the screen would meet the edge of the grid + the gutter, horizontal outer gutters are applied to prevent the edges of the grid from touching the edges of the screen.

            +demo({
html:`
.add-border.grid__wrapper
  .grid.grid--outerGutters-h-delayed.grid--gutter-moduleName.grid--cols-3.grid--wrap
    .grid__cell.-color-1
    .grid__cell.-color-2
    .grid__cell.-color-3
    .grid__cell.-color-4
    .grid__cell.-color-5
    .grid__cell.-color-6
`})
              :marked
                Delayed horizontal, left and right gutter varients (resize browser to see it take effect).

            +demo({
html:`
.add-border.grid__wrapper
  .grid.grid--outerGutters-left-delayed.grid--gutter-moduleName.grid--cols-3.grid--wrap
    .grid__cell.-color-1
    .grid__cell.-color-2
    .grid__cell.-color-3
    .grid__cell.-color-4
    .grid__cell.-color-5
    .grid__cell.-color-6
`})

            +demo({
html:`
.add-border.grid__wrapper
  .grid.grid--outerGutters-right-delayed.grid--gutter-moduleName.grid--cols-3.grid--wrap
    .grid__cell.-color-1
    .grid__cell.-color-2
    .grid__cell.-color-3
    .grid__cell.-color-4
    .grid__cell.-color-5
    .grid__cell.-color-6
`})

            :marked
              ## Nesting grids

              (For demonstration purposes, the grid cells have been given padding. Padding is not included as part of the grid system though)

              To nest a grid inside another grid and ensure that the nested grid takes up the full height of the parent grid, you could do this, however it doesn't regress as nicely in legacy browsers that don't support flexbox.

            +demo({
html:`
.grid.grid--cols-2
  .grid__cell.grid.grid--cols-2.-color-1.add-padding
    .grid__cell.-color-2.add-padding
      :marked
        lots and lots of text in this cell forces the other grid to grow.

        This method doesn't regress nicely in legacy browsers though.

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bonum incolumis acies: misera caecitas.
        Cur, nisi quod turpis oratio est? Atque haec coniunctio confusioque virtutum tamen a philosophis ratione quadam distinguitur.
    .grid__cell.-color-3
  .grid__cell.grid.grid--cols-2.-color-4.add-padding
    .grid__cell.-color-5
    .grid__cell.-color-6
`})
              :marked
                This method is ok if you don't need to support browsers that don't support flexbox.

            :marked
              If you do need to support legacy browsers though, the following method is not quite as clean but it has much better legacy browser support built in.

            +demo({
html:`
.grid.grid--hasInners.grid--cols-2
  .grid__cell.-color-1.add-padding
    .grid__inner.grid.grid--cols-2
      .grid__cell.-color-2.add-padding
        :marked
          Same as before but this time with much better legacy browser support.

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bonum incolumis acies: misera caecitas.
          Cur, nisi quod turpis oratio est? Atque haec coniunctio confusioque virtutum tamen a philosophis ratione quadam distinguitur.
      .grid__cell.-color-3
  .grid__cell.-color-4.add-padding
    .grid__inner.grid.grid--cols-2
      .grid__cell.-color-5
      .grid__cell.-color-6
`}, {classes:'-noInnerPadding'})
              :marked
                The prefered method when legacy browser support is required

            :marked
              The important things to note here are the `grid--hasInners` and the `grid__inner` classes.

              The `grid--hasInners` class tells the grid that the `grid__inner` inside each `grid__cell` should take up the full height and width of it's parent.

              Each `grid__cell` can only contain one `grid__inner` and `grid__inner` must be a direct decendent of it's `grid__cell` parent.

            :marked
              ## Borders and shadows on guttered cells

              The `grid__inner` technique can be used for more than just nesting grids. Whenever you want the child element of a grid cell to take up the same dimensions as the content area of the cell, you can use `grid__inner`.

              The most common use case for wanting to do this is when you want to apply either a border or a box shadow to each cell in a grid that also features a gutter between each cell. Gutters are made by adding invisible borders to each of the grid cells. So trying to add borders or box shadows directly to the grid cells doesn't work.

            +demo({
html:`
.grid.grid--hasInners.grid--gutter-moduleName.grid--cols-2
  .grid__cell
    .grid__inner.add-border.add-shadow.add-padding
      :marked
        To give grid cells a border or padding as well as a gutter, you will need to use \`grid__inner\`

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bonum incolumis acies: misera caecitas.
        Cur, nisi quod turpis oratio est? Atque haec coniunctio confusioque virtutum tamen a philosophis ratione quadam distinguitur.
        At ille pellit, qui permulcet sensum voluptate. Videamus igitur sententias eorum, tum ad verba redeamus.
        Duo Reges: constructio interrete. Quantum Aristoxeni ingenium consumptum videmus in musicis.
  .grid__cell
    .grid__inner.add-border.add-shadow.add-padding
`}, {classes:'-noCellPadding'})


            :marked
              Unfortunatly, if you are adding shadows, you can't use the `grid__wrapper` element to prevent the spacing glitch from occuring like you normally would. `grid__wrapper` is just applying `overflow:hidden`. Using `overflow:hidden` will also hide the shadows though.

              You will need to find other ways to work around the browser glitch. One way is to add 1 pixel of padding to a parent element. It doesn't fix the problem outright but makes it at least makes the glitch far less obvious.

            +demo({
html:`
div(style="padding-top: 1px;")
  .grid.grid--hasInners.grid--gutter-moduleName.grid--cols-2
    .grid__cell
      .grid__inner.add-border.add-shadow.add-padding
        :marked
          To give grid cells a border or padding as well as a gutter, you will need to use \`grid__inner\`

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bonum incolumis acies: misera caecitas.
          Cur, nisi quod turpis oratio est? Atque haec coniunctio confusioque virtutum tamen a philosophis ratione quadam distinguitur.
          At ille pellit, qui permulcet sensum voluptate. Videamus igitur sententias eorum, tum ad verba redeamus.
          Duo Reges: constructio interrete. Quantum Aristoxeni ingenium consumptum videmus in musicis.
    .grid__cell
      .grid__inner.add-border.add-shadow.add-padding
`}, {classes:'-noCellPadding'})

              :marked
                Using padding to mitigate the Chrome spacing glitch

            :marked
              ## Cell alignments

              There are multiple options available to you when it comes to aligning grid cells but only for browsers that support flexbox.

              By default, if there are not enough cells in the row to fill the specified number of columns, the cells will grow like this:

            +demo({
html:`
.grid.grid--cols-3.grid--wrap
  .grid__cell.-color-1
  .grid__cell.-color-2
  .grid__cell.-color-3
  .grid__cell.-color-4
  .grid__cell.-color-5
`})
              :marked
                Default cell alignment when there are not enough cells to fill the row

            :marked
              If this isn't the effect you are after, you might want to use some of these other alignment options


            +demo({
html:`
.grid.grid--align-left.grid--cols-3.grid--wrap
  .grid__cell.-color-1
  .grid__cell.-color-2
  .grid__cell.-color-3
  .grid__cell.-color-4
  .grid__cell.-color-5
`})
              :marked
                Alternate cell alignment options

            +demo({
html:`
.grid.grid--align-right.grid--cols-3.grid--wrap
  .grid__cell.-color-1
  .grid__cell.-color-2
  .grid__cell.-color-3
  .grid__cell.-color-4
  .grid__cell.-color-5
`})

            +demo({
html:`
.grid.grid--align-center.grid--cols-3.grid--wrap
  .grid__cell.-color-1
  .grid__cell.-color-2
  .grid__cell.-color-3
  .grid__cell.-color-4
  .grid__cell.-color-5
`})

            +demo({
html:`
.grid.grid--space-between.grid--cols-3.grid--wrap
  .grid__cell.-color-1
  .grid__cell.-color-2
  .grid__cell.-color-3
  .grid__cell.-color-4
  .grid__cell.-color-5
`})

            +demo({
html:`
.grid.grid--space-around.grid--cols-3.grid--wrap
  .grid__cell.-color-1
  .grid__cell.-color-2
  .grid__cell.-color-3
  .grid__cell.-color-4
  .grid__cell.-color-5
`})

            :marked
              Of coarse, you can use alignment in more circumstances than just how the grid handles not having enough cells to fill a row. A good example is pagination that uses `grid--space-around` to space out the pagination cells:

            +demo({
html:`
ol.grid.grid--space-around.grid--hasInners.add-border
  - var i = 0
  while i < 5
    li.grid__cell.add-padding
      a.grid__inner.add-shadow.add-padding= i + 1
    - i++;
`}, {classes: '-noHeight'})

            +demo({
html:`
.grid__wrapper
  .grid.grid--vertical.grid--gutter-moduleName
    .grid__cell.-color-1
    .grid__cell.-color-2
    .grid__cell.-color-3
`})
              :marked
                Applying `grid--vertical` is simply adding `flex-direction: column`. This flips the grid around so that grid cells progressivly move down the page instead of across.

                Using the `grid--vertical` class features a backup for legacy browsers though whereas applying `flex-direction: column` on it's own in your css does not.

            :marked
              ### Vertical alignment

              Vertical alignment is just as easy. (These are mostly just classes that hold `align-items` values though. If you find them easier to use, feel free)

            +demo({
html:`
.grid.grid--vAlign-top.add-border
  - var heights = [100, 50, 75];
  each height, i in heights
    .grid__cell(style=["height: ",height,"px;"].join(''), class=["-color-",i+1].join(''))
`}, {classes: '-noHeight'})

            +demo({
html:`
.grid.grid--vAlign-bottom.add-border
  - var heights = [100, 50, 75];
  each height, i in heights
    .grid__cell(style=["height: ",height,"px;"].join(''), class=["-color-",i+1].join(''))
`}, {classes: '-noHeight'})

            +demo({
html:`
.grid.grid--vAlign-center.add-border
  - var heights = [100, 50, 75];
  each height, i in heights
    .grid__cell(style=["height: ",height,"px;"].join(''), class=["-color-",i+1].join(''))
`}, {classes: '-noHeight'})


            +demo({
html:`
.grid__wrapper.add-shadow
  .grid.grid--vAlign-center.grid--hasInners.grid--gutter-moduleName
    - var heights = [100, 50, 75];
    each height, i in heights
      .grid__cell(style=["height: ",height,"px;"].join(''))
        .grid__inner.add-border
`}, {classes: '-noHeight -noCellPadding'})
              :marked
                Using vertical alignment with `grid__inner` elements and a gutter

            +demo({
html:`
.grid__wrapper
  .grid.grid--vAlignContent-center.grid--hasInners.grid--cols-3.grid--gutter-moduleName
    -
      var heights = [
        '<p>Videmusne ut pueri ne verberibus quidem a contemplandis rebus perquirendisque deterreantur? Itaque primos congressus copulationesque et consuetudinum instituendarum voluntates fieri propter voluptatem; Tum Triarius: Posthac quidem, inquit, audacius.</p> <p> Qui non moveatur et offensione turpitudinis et comprobatione honestatis? Quae sequuntur igitur? Iis igitur est difficilius satis facere, qui se Latina scripta dicunt contemnere. Sed tamen est aliquid, quod nobis non liceat, liceat illis. Sic, et quidem diligentius saepiusque ista loquemur inter nos agemusque communiter.</p>',

        '<p>At quicum ioca seria, ut dicitur, quicum arcana, quicum occulta omnia?</p>',

        '<p>Duo Reges: constructio interrete. Nam Pyrrho, Aristo, Erillus iam diu abiecti. Stulti autem malorum memoria torquentur, sapientes bona praeterita grata recordatione renovata delectant. A primo, ut opinor, animantium ortu petitur origo summi boni.</p>'
      ];
    each text in heights
      .grid__cell
        .grid__inner.grid.grid--vAlign-center.add-border
          .grid__cell.add-padding
            != text
`}, {classes: '-noHeight'})
              :marked
                Using nested grids to vertically align text inside full sized grid cells

            +demo({
html:`
.grid.grid--vAlign-bottom.add-border(style='height:100px;')
  - var heights = [80, 25, 50, 75];
  each height, i in heights
    .grid__cell(style=["height: ",height,"px;"].join(''), class=["-color-",i+1].join('') + (i === 2 ? ' grid__cell--vAlign-top' : ''))
`}, {classes: '-noHeight'})
              :marked
                Changing the vertical alignment of a single cell using `grid__cell--vAlign-xxx` classes (`xxx` being `top`, `bottom`, or `center`)... or you could just use the `align-self` css property.

            :marked
              ## Controlling cell growth and shrinkage

              Another way of handling cell alignments is with grid cell growth and shrink settings. By default, grid cells will both grow and shrink as necessary but this can be overridden with the `grid--noGrowth`, `grid--noShrink`, and `grid--noResize` classes.

              - **`grid--noGrowth`** will prevent all cells in the grid from growing
              - **`grid__cell--noGrowth`** will prevent only the cell that it is applied to from growing
              - **`grid--noShrink`** will prevent all cells in the grid from shrinking below their content width
              - **`grid__cell--noShrink`** will prevent that specific cell from shrinking bellow it's content width
              - **`grid--noResize`** a shortcut for applying both `grid--noGrowth` and `grid--noShrink` classes
              - **`grid__cell--noResize`** a shortcut for applying both `grid__cell--noGrowth` and `grid__cell--noShrink` classes

            +demo({
html:`
.grid.grid--noWrap
  .grid__cell.-color-1
    .wideBox.-color-3
  .grid__cell.-color-2
    .thinBox.-color-4
`})
              :marked
                This is the control example to show how the grid setup behaves with minimal settings and a block of content at a fixed 500px by 50px size and a small 50px by 50px square.

            +demo({
html:`
.grid.grid--noGrowth.grid--noWrap
  .grid__cell.-color-1
    .wideBox.-color-3
  .grid__cell.-color-2
    .thinBox.-color-4
`})
              :marked
                If `grid--noGrowth` is applied, it is essentially the equivelent of using `grid--align-left`

            +demo({
html:`
.grid.grid--noShrink.grid--noWrap
  .grid__cell.-color-1
    .wideBox.-color-3
  .grid__cell.-color-2
    .thinBox.-color-4
`})
              :marked
                If `grid--noShrink` is applied, the grid cells will try their best not to shrink below the required width of the content inside them (you will need to resize your browser to a mobile sized view to see the difference)

            +demo({
html:`
.grid.grid--noResize.grid--noWrap
  .grid__cell.-color-1
    .wideBox.-color-3
  .grid__cell.-color-2
    .thinBox.-color-4
`})
              :marked
                If you want to apply `grid--noShrink` and `grid--noGrowth` at the same time, use `grid--noResize`

            +demo({
html:`
.grid.grid--noWrap
  .grid__cell.-color-1
    .wideBox.-color-3
  .grid__cell.grid__cell--noGrowth.-color-2
    .thinBox.-color-4
`})
              :marked
                Applying `noGrowth` to only 1 of the grid cells

            +demo({
html:`
.grid.grid--noWrap
  .grid__cell.-color-1
    .wideBox.-color-3
  .grid__cell.grid__cell--noShrink.-color-2
    .thinBox.-color-4
`})
              :marked
                Applying `noShrink` to only 1 of the grid cells (resize browser to see effect)

            +demo({
html:`
.grid.grid--noWrap
  .grid__cell.-color-1
    .wideBox.-color-3
  .grid__cell.grid__cell--noResize.-color-2
    .thinBox.-color-4
`})
              :marked
                Applying `noResize` to prevent shrinking and growth in only 1 of the grid cells at the same time (very useful for listings with thumbnail images if you apply `noResize` to the thumbnail cell)

            +demo({
html:`
.grid.grid--mini(style="width: 50%")
  .grid__cell.-color-1
  .grid__cell.-color-2
`})
              :marked
                Somewhat related. The `grid--mini` class allows a grid to take up less than 100% of it's parent's width.
            +demo({
html:`
.grid(style="width: 50%")
  .grid__cell.-color-1
  .grid__cell.-color-2
`})

            :marked
              ## How to support legacy browsers

              gutter-grid is powered mostly by flexbox. Flexbox is not supported in many older browsers though, particularly IE8 & 9. To help cater to those browsers, gutter-grid has `display:table` and `float:left` backups built into it for when `flex-box` is not supported. In general it will use `display:table` since tables act in a very similar way to how flex-box acts. However, when wrapping is involved and the browser does not support the `flex-wrap` css property, it will use `float:left` styling instead.

              In order to detect if the browser supports flex-box and flex-wrap, gutter-grid is dependent on [Modernizr](https://modernizr.com/) being a part of your build process. The particular Modernizr properties it is dependent on is `flexwrap` and `flexbox`. To add Modernizr to your site, either [download a custom build that includes flexbox and flexwrap](https://modernizr.com/download?setclasses&q=flex) from the modernizr website and link to it in the HTML of your website, or you can incorporate [Customizr](https://www.npmjs.com/package/customizr) into your website compilation process. I recommend taking the second option.

              The design in IE8 & 9 won't look like the design on browsers that support flex-box. It will mainly just help stop the layout from completly breaking on you when compared to using purely flex-box on it's own.

              IE10 has support for flex-box however you will need to incorporate [Autoprefixer](https://github.com/postcss/autoprefixer) into your build process to support it's outdated flex-box syntax.

              Also, in order to better support IE8, the HTML for your HTML element will need to look something like this:

              ```````html
              <!--[if lte IE 8]><html class="lt-ie9" lang="en"><![endif]-->
              <!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->

              ...

              </html>
              ```````

              The `$grid-gutter-ie-fallback` setting should be set to the main background color of your website. IE8 doesn't support the css `background-clip` property which is a key part of how the gutters are able to retain transparency. This variable defines a color that the gutters will be displayed in by default in IE8.

              ````scss
              //Set what color gutters will be in IE8
              $grid-gutter-ie-fallback: #fff;

              @import '../node_modules/mq-scss/mq';
              @import '../node_modules/gutter-grid/grid-classes';
              ````

    footer
      .owner
        p
          a.avatar(href='https://github.com/Dan503')
            img(src='https://s.gravatar.com/avatar/9da9f1df8def9d7b554fa7e03307a7b2?size=50&default=retro', width='48', height='48')
          | #[a(href='https://github.com/Dan503') Dan503] maintains #[a(href='https://github.com/Dan503/gutter-grid') gutter-grid]

      .creds
        small
          | theme by #[a(href='https://twitter.com/jonrohan/') Jon Rohan]
  .current-section
    a(href='#top') Scroll to top
    a.tar(href='https://github.com/Dan503/gutter-grid/tarball/master') tar
    a.zip(href='https://github.com/Dan503/gutter-grid/zipball/master') zip
    a.code(href='') source code
    p.name

  link(rel='stylesheet', href='/stylesheets/highlight.theme.atom-one-dark.css')
  script(type='text/javascript', src='javascripts/highlight.pack.js')
  script(type='text/javascript').
    hljs.initHighlightingOnLoad();
  script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script(type='text/javascript', src='javascripts/script.js')

</html>
