doctype html
// The Time Machine GitHub pages theme was designed and developed by Jon Rohan, on Feb 7, 2012.
// Follow him for fun. http://twitter.com/jonrohan. Tail his code on https://github.com/jonrohan
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		link(rel='stylesheet', href='stylesheets/stylesheet.css', media='screen')
		link(rel='stylesheet', href='stylesheets/github-dark.css')
		link(rel='stylesheet', href='stylesheets/custom-styles.css')
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(type='text/javascript', src='javascripts/script.js')
		title flexible-grid
		meta(name='description', content='A grid system that uses flexbox with display:table and float:left backups')
		meta(name='viewport', content='width=device-width,initial-scale=1')
	body
		.wrapper
			header
				h1.title flexible-grid
			#container
				p.tagline A grid system that uses flexbox with display:table and float:left backups
				#main(role='main')
					.download-bar
						.inner
							a.download-button.tar(href='https://github.com/Dan503/flexible-grid/tarball/master')
								span Download
							a.download-button.zip(href='https://github.com/Dan503/flexible-grid/zipball/master')
								span Download
							a.code(href='https://github.com/Dan503/flexible-grid') View flexible-grid on GitHub
						span.blc
						span.trc
					article.markdown-body
						h3
							a#welcome-to-github-pages.anchor(href='#welcome-to-github-pages', aria-hidden='true')
								span.octicon.octicon-link(aria-hidden='true')
							| Welcome to GitHub Pages.
						p
							| This automatic page generator is the easiest way to create beautiful pages for all of your projects. Author your page content here
							a(href='https://guides.github.com/features/mastering-markdown/') using GitHub Flavored Markdown
							| , select a template crafted by a designer, and publish. After your page is generated, you can check out the new
							code gh-pages
							|  branch locally. If you’re using GitHub Desktop, simply sync your repository and you’ll see the new branch.
						h3
							a#designer-templates.anchor(href='#designer-templates', aria-hidden='true')
								span.octicon.octicon-link(aria-hidden='true')
							| Designer Templates
						p
							| We’ve crafted some handsome templates for you to use. Go ahead and click 'Continue to layouts' to browse through them. You can easily go back to edit your page before publishing. After publishing your page, you can revisit the page generator and switch to another theme. Your Page content will be preserved.
						h3
							a#creating-pages-manually.anchor(href='#creating-pages-manually', aria-hidden='true')
								span.octicon.octicon-link(aria-hidden='true')
							| Creating pages manually
						p
							| If you prefer to not use the automatic generator, push a branch named
							code gh-pages
							|  to your repository to create a page manually. In addition to supporting regular HTML content, GitHub Pages support Jekyll, a simple, blog aware static site generator. Jekyll makes it easy to create site-wide headers and footers without having to copy them across every page. It also offers intelligent blog support and other advanced templating features.
						h3
							a#authors-and-contributors.anchor(href='#authors-and-contributors', aria-hidden='true')
								span.octicon.octicon-link(aria-hidden='true')
							| Authors and Contributors
						p
							| You can @mention a GitHub username to generate a link to their profile. The resulting
							code <a>
							|  element will link to the contributor’s GitHub Profile. For example: In 2007, Chris Wanstrath (
							a.user-mention(href='https://github.com/defunkt') @defunkt
							| ), PJ Hyett (
							a.user-mention(href='https://github.com/pjhyett') @pjhyett
							| ), and Tom Preston-Werner (
							a.user-mention(href='https://github.com/mojombo') @mojombo
							| ) founded GitHub.
						h3
							a#support-or-contact.anchor(href='#support-or-contact', aria-hidden='true')
								span.octicon.octicon-link(aria-hidden='true')
							| Support or Contact
						p
							| Having trouble with Pages? Check out our
							a(href='https://help.github.com/pages') documentation
							|  or
							a(href='https://github.com/contact') contact support
							|  and we’ll help you sort it out.
			footer
				.owner
					p
						a.avatar(href='https://github.com/Dan503')
							img(src='https://avatars0.githubusercontent.com/u/10610368?v=3&s=60', width='48', height='48')
						a(href='https://github.com/Dan503') Dan503
						|  maintains
						a(href='https://github.com/Dan503/flexible-grid') flexible-grid
				.creds
					small
						| This page generated using
						a(href='https://pages.github.com/') GitHub Pages
						br
						| theme by
						a(href='https://twitter.com/jonrohan/') Jon Rohan
		.current-section
			a(href='#top') Scroll to top
			a.tar(href='https://github.com/Dan503/flexible-grid/tarball/master') tar
			a.zip(href='https://github.com/Dan503/flexible-grid/zipball/master') zip
			a.code(href='') source code
			p.name
