.tabs {
	&__links {
		background: $CB-green-pale;
		padding: 5px;
		// padding-bottom: 1px;
		margin-bottom: 2.5rem;
		border: 1px solid $CB-green-dark;
		border-radius: 3px;
		overflow: hidden;

		.lt-ie9 & {
			.grid,
			.grid__cell {
				border-color: $CB-green-pale;
			}
		}

		.no-js & {
			display: none;
		}
	}

	&__link {
		text-align: center;
		text-transform: capitalize;
	}

	&__content {
		outline: none;

		.js & {
			display: none;
		}
	}
}
