
.tabs {
	padding-top: 1px;

	&__links {
		.no-js & {
			display: none;
		}
	}

	&__link {
		text-align: center;
		text-transform: capitalize;
	}

	&__content {
		.js & {
			display: none;
		}
	}

	.no-flexbox & {
		width: 780px;
	}
}
