//- loaded in a hidden div at the top of the page
p#arrow-keys-tip Left and right arrow keys to navigate

mixin tabs__content(tabName, spec)
	-
		spec = defaultTo(spec, {
			classes : '',
			attr: {},
		});

	.tabs__content(class=spec.classes, role="tabpanel")&attributes(spec.attr).JS-tabs__content
		figure
			if tabName
				figcaption.tabs__title= tabName
			if block
				block
			else
				p This is an example paragraph for the tab module

mixin tabs(spec)
	-
		spec = defaultTo(spec, {
			classes : '',
			attr: {},
			links: []
		});

	.tabs(class=spec.classes)&attributes(spec.attr).JS-tabs
		.tabs__links
			.tabs__linksGrid.grid.grid--hasInners.grid--noMQs.grid--gutter-tabs(class=`grid--cols-${spec.links.length}`, role="tablist", aria-describedby="arrow-keys-tip")
				each link, i in spec.links
					.grid__cell
						button.tabs__link.grid__inner.btn(role="tab", tabindex="-1").JS-tabs__trigger= link
		.tabs__contentWrap
			if block
				block
			else
				p This is an example paragraph for the tabs module
