//font size settings for the site
//px to rem postCSS plugin converts these to an rem values
$size-tiny : 14px;
$size-small : 16px;
$size-mid : 18px;
$size-large : 30px;
$size-huge : 44px;
$size-giant : 55px;
