
//font families
//Don't create variables like $openSans for custom fonts
//Use generic variable names for better maintainability
$sans-serif:	'Open Sans', Arial, sans-serif;
$serif:			Times New Roman, Times, serif;
$cursive:		cursive;
$code:			"Courier New", Courier, monospace;

$font-primary: $sans-serif;
$font-secondary: $serif;