//basic line
@mixin MG-line ($type, $color, $length:25px,$thickness:2px, $rotation: false, $origin: center){
	@if ($type == v){
		height: $length;
		width: 0px;
		border-left: $thickness solid $color;
	} @else if ($type == h){
		height: 0px;
		width: $length;
		border-bottom: $thickness solid $color;
	} @else {
		@error "#{$type} is not a valid type. must be either 'h' (horizontal) or 'v' (vertical)";
	}
	@if ($rotation != false){
		transform: rotate($rotation);
	}
}

//Create a right angle chevron shape with pure CSS
//uses ems by default so that it can scale with text making it more versatile
@mixin MG-chevron($direction: right, $color: #000, $size: 0.5em, $borderWidth: $size / 5, $pos: absolute){
	$borderOptions: (
		up: $borderWidth $borderWidth 0 0,
		right: 0 $borderWidth $borderWidth 0,
		down: 0 0 $borderWidth $borderWidth,
		left: $borderWidth 0 0 $borderWidth,
	);
	$appliedBorder: map-get($borderOptions, $direction);

	$translation: (
		up: (
			x: 0,
			y: 25%,
			origin: left top,
			offsets: (
				top: $size * 0.8,
			)
		),
		right: (
			x: -25%,
			y: 0,
			origin: right bottom,
			offsets: (
				right: $size * 0.1,
				bottom: $size * 0.3,
			)
		),
		down: (
			x: 25%,
			y: 0,
			origin: left top,
			offsets: (
				top: $size * 0.2,
			)
		),
		left: (
			x: 0,
			y: 25%,
			origin: top right,
			offsets: (
				right: $size * 0.2,
			)
		),
	);

	$transforms: map-get($translation, $direction);

	$x-translate: round(map-get($transforms, x));
	$y-translate: round(map-get($transforms, y));
	$origin: map-get($transforms, origin);
	$offsetter: map-get($transforms, offsetter);
	$offsets: map-get($transforms, offsets);

	border: 1px solid $color;
	border-width: $appliedBorder;
	transition: all 0.2s ease-in-out;
	transform-origin: $origin;
	height: $size;
	width: $size;

	transform: rotate(-45deg); //translateX($x-translate) translateY($y-translate);
	position: $pos;

	@each $attribute, $value in $offsets {
		#{$attribute}: $value;
	}
}

///*******************\
//	PURE CSS MENU ICON
//*******************/
@mixin MG-menuIcon($color: #000, $width: 20px, $thickness: 5px, $gutter: 2px, $radius: $thickness, $posType: relative, $margin: ($thickness + $gutter) auto, $animatable: true){

	@if (type-of($color) == 'color'){
		$distance: $thickness + $gutter;

		width: $width;
		position: $posType;
		margin: $margin;
		display: block;

		&, &:before, &:after {
			height: $thickness;
			background-color: $color;
			@if($animatable){
				@include MG-animate;
			}
			@if($radius > 0){
				border-radius: $radius;
			}
		}

		@include MG-before-after {
			width: 100%;
			position: absolute;
			left: 0;
			right: 0;
		}
		&:before {
			bottom: $distance;
		}
		&:after {
			top: $distance;
		}

//basically if $color isn't a color, it assumes you want the icon to look like a cross instead of a menu icon
	} @else if ($color == 'cross') {
		background-color: transparent;
		&:before {
			transform: rotate(45deg);
			bottom: 0;
			margin: 0;
		}
		&:after {
			transform: rotate(-45deg);
			top: 0;
			margin: 0;
		}
	} @else if ($color == 'plus') {
		background-color: transparent;
		&:before, &:after {
			margin: 0;
			right: auto;
		}
		&:before {
			transform: rotate(90deg);
			bottom: 0;
			left: 0;
		}
		&:after {
			transform: rotate(0deg);
			top: 0;
			left: 0;
		}
	} @else {
		@error "The first argument in M-menuIcon must be either a color or the word 'cross' or 'plus'";
	}
}

//use to alter the size of a menu icon with only the essential styles
@mixin MG-menuIcon-size ($width: 20px, $thickness: 5px, $gutter: 2px, $margin: ($thickness + $gutter) auto){

		$distance: $thickness + $gutter;

		width: $width;
		margin: $margin;

		&, &:before, &:after {
			height: $thickness;
			border-radius: $thickness;
		}

		&:before {
			bottom: $distance;
		}
		&:after {
			top: $distance;
		}
}

///*******************\
//	PURE CSS SEARCH ICON
//*******************/
@mixin MG-searchIcon($color: #000, $glassDiameter: 20px, $lineWidth: 2px, $handleLength: if($color == 'toCross', false, round($glassDiameter * 0.66)), $handleWidth: $lineWidth, $speed: 0.25s, $pos: relative){

	$invalidString: type-of($color) == 'string' and $color != 'toCross' and $color != 'toEye';
	$notColor: type-of($color) != 'color' and type-of($color) != 'string';

	@if ($invalidString or $notColor){
		@error 'The first parameter "#{$color}" must either be either a color or one of these strings: "toCross", "toEye"';
	}

	//main functionality for creating the icon
	@if (type-of($color) == 'color'){
		$iconSize: ceil(($glassDiameter + $handleLength) * 0.75);

		$transition: all $speed ease-in-out, background 0.2s ease-in-out;

		height: $iconSize;
		width: $iconSize;
		display: block;
		transition: $transition;
		position: $pos;

		&:before, &:after {
			display: block;
			content: '';
			position: absolute;
			transition: $transition;
		}

		//glass
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			width: $glassDiameter;
			height: $glassDiameter;
			border-radius: 50%;
			border: $lineWidth solid $color;
			transform: rotate(45deg);
			box-shadow: 0 0 0 transparent;//needed for hover
		}

		//handle
		&:after {
			bottom: 0;
			right: 0;
			margin: auto;
			width: $handleLength;
			height: $lineWidth;
			background-color: $color;
			transform: rotate(45deg) translateY(50%);
			transform-origin: bottom right;
			border-radius: $lineWidth * 2;
		}
	}

	//turns the search icon into a cross icon
	@if ($color == 'toCross'){

		//$glassDiameter turns into a colour setting variable
		@if(type-of($glassDiameter) == number){
			$glassDiameter: #000;
		}
		$crossColor: $glassDiameter;

		transform: rotate(180deg);

		//glass
		&:before {
			border-radius: 0;
			width: $lineWidth;
			border-width: 0;
			//border-color: transparent;
			left: 45%;
			height: 140%;
			top: -15%;
			bottom: 0;
			background-color: $crossColor;
		}
		//handle
		&:after {
			background-color: $crossColor;
			height: $lineWidth;
			width: 140%;
			border-radius: 0;
			bottom: 0;
			right: 0;
		}
	}

	@if ($color == 'toEye'){
		transform: rotate(90deg);
		//glass
		&:before {
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			border-radius: 50%;
			border-width: $lineWidth;
			background: transparent;
		}
		&:after {
			height: 50%;
			width: 50%;
			bottom: 20%;
			right: 20%;
			border-radius: 50%;
		}
	}

};

///*******************\
//	CSS TRIANGLES
//*******************/

//$thickness is half the width of the side furthest from the point.

@mixin MG-tri($direction, $color: #000, $length: 12px, $thickness: round($length * 0.57), $thickness2: $thickness, $important: true) {

	@if ($important){
		$important: !important;
	} @else {
		$important: unquote('');
	}

	//right angle isosceles triangle shortcut
	@if ($thickness == 0){
		$thickness: $length;
		$thickness2: 0;
	}

	display: block;
	width: 0 $important;
	height: 0 $important;
	overflow: hidden;
	background-clip: content-box;

    @if ($direction == up) {
      border-top: none;
      border-left: $thickness solid transparent;
      border-right: $thickness2 solid transparent;
      border-bottom: $length solid $color;
    }

    @if ($direction == down) {
      border-bottom: none;
      border-right: $thickness solid transparent;
      border-left: $thickness2 solid transparent;
      border-top: $length solid $color;
    }

    @if ($direction == left) {
      border-left: none;
      border-bottom: $thickness solid transparent;
      border-top: $thickness2 solid transparent;
      border-right: $length solid $color;
    }

    @if ($direction == right) {
      border-right: none;
      border-top: $thickness solid transparent;
      border-bottom: $thickness2 solid transparent;
      border-left: $length solid $color;
    }
}

///***********************************\
//	PURE CSS POINTING ARROWS ( -> )
//***********************************/
//IE9+ only
//works best if $thickness is a multiple of 2
@mixin MG-arrow($direction, $color, $length, $head-size: $length * 0.75, $thickness: 2px, $rotation: 0, $origin: center, $pos: relative){
	position: $pos;
	display: block;

	//for odd number handling on thickness
	//this will cause issues if you try to apply any other transforms to the arrow
	@if ($thickness % 2 != 0) {
		$length : $length * 2;
		$head-size : $head-size * 2;
		$thickness : $thickness * 2;

		transform: scale(0.5);
	} else {
		transform: scale(1);
	}

	@if ( ($direction == left) or ($direction == right) ){
		@if ($rotation != 0){
			@include MG-line(h,$color,$length, $thickness, $rotation, $origin);
		} @else {
			@include MG-line(h,$color,$length, $thickness);
		}
	} @else {
		@if ($rotation != 0){
			@include MG-line(v,$color,$length, $thickness, $rotation, $origin);
		} @else {
			@include MG-line(v,$color,$length, $thickness);
		}
	}

	@include MG-before {
		position: absolute;
		border: $thickness solid $color;
		@include MG-size($head-size);

		@if ($direction == up){
			bottom: auto;
			left: auto;
			right: ($thickness/2);
			top: -$thickness;
			border-bottom: none;
			border-left: none;
			transform: rotate(-45deg);
			transform-origin: top right;

		} @else if ($direction == down) {
			top: auto;
			left: auto;
			right: ($thickness/2);
			bottom: -$thickness;
			border-top: none;
			border-left: none;
			transform: rotate(45deg);
			transform-origin: bottom right;

		} @else if ($direction == left) {
			top: auto;
			right: auto;
			left: -$thickness;
			bottom: -($thickness/2);
			border-top: none;
			border-right: none;
			transform: rotate(45deg);
			transform-origin: bottom left;

		} @else if ($direction == right) {
			top: auto;
			left: auto;
			right: -$thickness;
			bottom: -($thickness/2);
			border-top: none;
			border-left: none;
			transform: rotate(-45deg);
			transform-origin: bottom right;
		}

	}
}

  /////////////
 // Circles //
/////////////


@mixin MG-circle($type, $color, $width, $thickness: 2px, $height:$width, $overflow:'hidden'){

	border-radius: 50%;
	display: block;

	@if ($height == $width and $overflow == 'hidden') {
		clip-path: circle($width at center);
		overflow: hidden;
	} @else {
		overflow: $overflow;
	}

	@if ($width == 'auto') {
		@include MG-size($height,$width);
	} @else if (unit($width) == '%') {
		width: $width;
		padding: $width 0 0 0;
		height: 0;
	} @else if (unitless($width) == false) {
		@include MG-size($height,$width);
	} @else {
		@warn '"#{$width}" is not a valid width. @include MG-circle(type, color, width, border-thickness* (stroke type only), height*). * = optional'
	}

	@if ($type == 'fill' and $color != 'none'){
//filled circle
		background-color: $color;
	} @else if ($type == 'stroke'){
//empty circle
		border: $thickness solid $color;
	}

	@if ($type != 'fill' and $type != 'stroke' ){
		@warn '"#{$type}" is not a valid circle type. Please select either "fill" or "stroke". @include MG-circle(type, color, width, border-thickness* (stroke type only), height*). * = optional'
	}
}


  ///////////////////////////
 // Plus and Minus shapes //
///////////////////////////

@mixin MG-plus-minus-base($color) {
	display: block;
	content: '';
	@include MG-centered;
	background: $color;
}

@mixin MG-plus($color, $size: 10px, $thickness: 2px, $rounded: false, $pos: relative, $display: block){
	@if ($color == 'toMinus'){
		&:before {
			transform: rotate(90deg);
			opacity: 0;
		}
	} @else {
		display: $display;
		position: $pos;
		&:before, &:after {
			@include MG-animate;
			@include MG-plus-minus-base($color);
			@if ($rounded){
				border-radius: $thickness * 2;
			}
			@content;
		}
		//vertical
		&:before{
			height: $size;
			width: $thickness;
		}
		//horizontal
		&:after{
			height: $thickness;
			width: $size;
		}
	}
}
@mixin MG-minus($color, $size: 10px, $thickness: 2px){
	position: relative;
	//horizontal
	&:after {
		@include MG-plus-minus-base($color);
		height: $thickness;
		width: $size;
		@content;
	}
}

//Works in IE9+, use a cross icon as a backup if needed
@mixin MG-cross($color, $size: 20px, $thickness: 5px, $rounded: true, $pos: relative, $display:block){
	@include MG-plus($color,$size,$thickness,$rounded, $pos:$pos,$display:$display){
		transform: rotate(45deg);
		@content;
	};
}




