//all text input types (including the new HTML5 ones)
input,
textarea {
	//sets the placeholder color to the lightest possible grey against white that is AA complient
	@extend %inputStyling;
	width: 100%;
	color: $CF-input;
	@include MG-appearanceNone;
	border-radius: 3px;
	@include MG-animate('fast');
	@include mq(max, bp('tablet')){
		font-size: 16px; //prevents mobile devices from zooming in on the text field
	}

	@include MG-hover { border-color: brand(1); }
	&::placeholder { color: $CF-input__placeholder; }

	&.#{$CLG-errorClass} {
		background-color: $CF-error__bg;
		border-color: $CF-error__border;
		@include MG-hover {
			background-color: $CF-error__bg--hover;
		}
	}
}
