
//module colors

$C-checkbox-check: $CB-grey-dark;
$C-checkbox-check--hover: #000;

$C-checkbox-border: $CB-grey-mid;
$C-checkbox-border--hover: $CB-grey-mid--hover;

$C-checkbox-bg: #fff;
$C-checkbox-bg--hover: $CB-grey-light;

$C-error-bg : $CF-error__bg;
$C-error-border : $CF-error__border;
$C-error-text : $CF-error__text;
$C-error-bg--hover : $CF-error__bg--hover;
$C-error-border--hover : $CF-error__border--hover;
$C-error-text--hover : $CF-error__text--hover;

$CL-errorClass : $CLG-errorClass;


//This file holds the functionality styling for checkboxes and radio buttons
//Don't edit this file unless you know what you're doing.

/********* Custom checkbox and radio buttons **********/

//ensures IE8 doesn't get the custom radios and check boxes (IE8 doesn't support ":checked")
//also ensures print doesn't get the custom checkboxes (print doesnt support background colour)

@media screen {
	input[type="radio"], input[type="checkbox"] {
		@include MG-vh;

		+ label {
			padding-left: 25px;
			position: relative;
			cursor: pointer;
			display: inline-block;

			&:before, &:after {
				content: '';
				display: block;
				position: absolute;
				transition: 0.3s;
			}
			//background
			&:before {
				height: 15px;
				width: 15px;
				background-color: #fff;
				border: 1px solid $C-checkbox-border;
				top: 2px;
				left: 0px;
			}

			//foreground
			&:after {
				background-color: $C-checkbox-check;
				height: 9px;
				width: 9px;
				top: 5px;
				left: 3px;
				opacity: 0;
			}
		}

		&:focus + label, & + label:hover {
			&:before {
				background-color: $C-checkbox-bg--hover;
				border-color: $C-checkbox-border--hover;
			}
			&:after {
				color: $C-checkbox-check--hover;
			}
		}
		&:checked + label:after { opacity: 1; }

		&.#{$CL-errorClass} {
			& + label {
				&:before {
					background-color: $C-error-bg;
					border-color: $C-error-border;
				}
				&:after {
					color: $C-error-text;
				}
			}
			&:focus + label, & + label:hover {
				&:before {
					background-color: $C-error-bg--hover;
					border-color: $C-error-border--hover;
				}
				&:after {
					color: $C-error-text--hover;
				}
			}
		}
	}

	input[type="radio"] {
		& + label {
			&:after, &:before {
				border-radius: 50%;
			}
		}
		&:focus + label, & + label:hover {
			&:after {
				background-color: $C-checkbox-check--hover;
			}
		}
		&.#{$CL-errorClass} {
			&:focus + label, & + label:hover {
				&:after {
					background-color: $C-error-bg--hover;
				}
			}
		}
	}

	//Use this for tick check marks. Remove this for square check marks
	input[type="checkbox"] + label {
		@include MG-icon('checkmark', $C-checkbox-check, 10px, $pos: after){
			left: 2px;
			top: 5px;
			background: transparent;
		};
	}
}

//ie8 checkbox styling
.lt-ie9 {
	input[type="radio"], input[type="checkbox"] {
		float: left;
	}
}
