/********* Custom check browse button **********/
input[type="file"] {
	cursor: pointer;
}

$module: 'styledBrowse';

.#{$module} {
	&-JSadded {
		cursor: pointer;
		position: relative;
		display: inline-block;

		.js & {
			input {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				height: 100%;
				width: 100%;
				opacity: 0;
				cursor: pointer;
				visibility: visible;
				z-index: 2;

				&:hover, &:focus {
					& + , & + .#{$module}__display-JSadded + {
						.#{$module}__btn-JSadded {
							//button hover state styles
							background-color: brand(1, 'hover');
							color:  brand(1, 'text');
						}
					}
				}
			}
		}
	}

	&__btn-JSadded {
		@extend .btn;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		overflow: hidden;
		padding: 7px 40px;
		border: 1px solid #000;
		text-decoration: none;
		&:hover { text-decoration: none; }
		&.error { color: $CF-error__text; background-color: $CF-error__bg; }
		&.error:hover { background-color: $CF-error__bg--hover; }
	}

	&__display-JSadded {
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px;
	}
}
