block content
	:marked
		## Outter gutters

		By default, gutters will place the grid cells on the very edge of the content area as shown in this example by a red bounding box:

	+demo({
html:`
.add-border.grid__wrapper
	.grid.grid--gutter-moduleName.grid--cols-3.grid--wrap
		.grid__cell.-color-1
		.grid__cell.-color-2
		.grid__cell.-color-3
		.grid__cell.-color-4
		.grid__cell.-color-5
		.grid__cell.-color-6
`})

	:marked
		This isn't always the desired layout though. sometimes you want the gutters to also apply around the edges of the grid as well. This is when the `grid--outerGutters` class comes in.

	+demo({
html:`
.add-border.grid__wrapper
	.grid.grid--outerGutters.grid--gutter-moduleName.grid--cols-3.grid--wrap
		.grid__cell.-color-1
		.grid__cell.-color-2
		.grid__cell.-color-3
		.grid__cell.-color-4
		.grid__cell.-color-5
		.grid__cell.-color-6
`})
		:marked
			Using the `grid--outerGutters` class to apply the gutter to the edges of the grid

	:marked
		The class also comes in horizontal only, and vertical only variants as `grid--outerGutters-h` for horizontal only and `grid--outerGutters-v` for vertical only.

	+demo({
html:`
.add-border.grid__wrapper
	.grid.grid--outerGutters-h.grid--gutter-moduleName.grid--cols-3.grid--wrap
		.grid__cell.-color-1
		.grid__cell.-color-2
		.grid__cell.-color-3
		.grid__cell.-color-4
		.grid__cell.-color-5
		.grid__cell.-color-6
`})
		:marked
			Horizontal and vertical only variants of the `grid--outerGutters` class

	+demo({
html:`
.add-border.grid__wrapper
	.grid.grid--outerGutters-v.grid--gutter-moduleName.grid--cols-3.grid--wrap
		.grid__cell.-color-1
		.grid__cell.-color-2
		.grid__cell.-color-3
		.grid__cell.-color-4
		.grid__cell.-color-5
		.grid__cell.-color-6
`})

	+demo({
html:`
.add-border.grid__wrapper
	.grid.grid--outerGutters-top.grid--gutter-moduleName.grid--cols-3.grid--wrap
		.grid__cell.-color-1
		.grid__cell.-color-2
		.grid__cell.-color-3
		.grid__cell.-color-4
		.grid__cell.-color-5
		.grid__cell.-color-6
`})
		:marked
			Top, bottom, left and right only variants

	+demo({
html:`
.add-border.grid__wrapper
	.grid.grid--outerGutters-bottom.grid--gutter-moduleName.grid--cols-3.grid--wrap
		.grid__cell.-color-1
		.grid__cell.-color-2
		.grid__cell.-color-3
		.grid__cell.-color-4
		.grid__cell.-color-5
		.grid__cell.-color-6
`})

	+demo({
html:`
.add-border.grid__wrapper
	.grid.grid--outerGutters-left.grid--gutter-moduleName.grid--cols-3.grid--wrap
		.grid__cell.-color-1
		.grid__cell.-color-2
		.grid__cell.-color-3
		.grid__cell.-color-4
		.grid__cell.-color-5
		.grid__cell.-color-6
`})

	+demo({
html:`
.add-border.grid__wrapper
	.grid.grid--outerGutters-right.grid--gutter-moduleName.grid--cols-3.grid--wrap
		.grid__cell.-color-1
		.grid__cell.-color-2
		.grid__cell.-color-3
		.grid__cell.-color-4
		.grid__cell.-color-5
		.grid__cell.-color-6
`})


	:marked
		Also, there is a delayed variant for the horizontal classes. This is primarily for use with overarching page layouts. The idea with the delayed varient is that when the screen reaches the point where the edge of the screen would meet the edge of the grid + the gutter, horizontal outer gutters are applied to prevent the edges of the grid from touching the edges of the screen.

	+demo({
html:`
.add-border.grid__wrapper
	.grid.grid--outerGutters-h-delayed.grid--gutter-moduleName.grid--cols-3.grid--wrap
		.grid__cell.-color-1
		.grid__cell.-color-2
		.grid__cell.-color-3
		.grid__cell.-color-4
		.grid__cell.-color-5
		.grid__cell.-color-6
`})
		:marked
			Delayed horizontal, left and right gutter varients (resize browser to see it take effect).

	+demo({
html:`
.add-border.grid__wrapper
	.grid.grid--outerGutters-left-delayed.grid--gutter-moduleName.grid--cols-3.grid--wrap
		.grid__cell.-color-1
		.grid__cell.-color-2
		.grid__cell.-color-3
		.grid__cell.-color-4
		.grid__cell.-color-5
		.grid__cell.-color-6
`})

	+demo({
html:`
.add-border.grid__wrapper
	.grid.grid--outerGutters-right-delayed.grid--gutter-moduleName.grid--cols-3.grid--wrap
		.grid__cell.-color-1
		.grid__cell.-color-2
		.grid__cell.-color-3
		.grid__cell.-color-4
		.grid__cell.-color-5
		.grid__cell.-color-6
`})
