.nav {
	width: $VG-nav__width;

	@include mq($MQG-nav--hidden) {
		width: 100%;
	}

	&__list {
		background: $CB-green-pale;

		@include mq($MQG-nav--hidden) {
			flex-direction: row;
		}
	}

	&__item {
		@include mq($MQG-nav--visible) {
			width: 100%;
		}
	}
	//need to overide the grid system
	&__link.nav__link.nav__link {
		display: block;
		padding: 10px 20px;

		@supports (display: flex) {
			display: flex;
			align-items: center;
		}

		@include mq(min, bp('small')) {
			font-size: 1.2em;
		}

		&.-active {
			color: #000;
		}
	}

	+ * {
		.no-flexbox & {
			max-width: 710px;
			width: auto;
		}
	}
}
