


mixin toolbar(spec)
	-
		spec = defaultTo(spec, {
			classes : '',
		});

	section.toolbar(class=spec.classes)&attributes(attributes)
		+ribbon()(class="-up")
			h3.TK-visHid Toolbar
			.grid.grid--cols-2.grid--gutter-10.grid--vAlign-center
				.grid__cell
					+viewGitHub()
				.grid__cell
					+systemSwitch()
