


mixin toolbar(spec)
	-
		spec = defaultTo(spec, {
			classes : '',
		});

	.toolbar(class=spec.classes)&attributes(attributes)
		.grid.grid--space-between
			.grid__cell
				+viewGitHub()
			.grid__cell
				+systemSwitch()
