
mixin toolbar(spec)
	-
		spec = defaultTo(spec, {
			classes : '',
		});

	.toolbar(class=spec.classes)&attributes(attributes)
		if block
			block
		else
			p This is an example paragraph for the toolbar module
