
.YTvideo {
	width: 100%;
	position: relative;
	padding-top: 56.25%; //* 16:9, locks the video into the standard wide screen format */
	//padding-bottom: 25px;//* gives room for the player controls (no longer needed due to YouTube player design change) */
	height: 0;

	iframe, embed {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 0;
	}

	&--nonWideScreen {
		padding-top: 75%; //* 4:3, locks the video into the standard non-wide screen format */
	}
}
