block content
  :marked
    This is just the initial release. There are 2 more features that I plan to build into the grid system.

    ### Gutters with different vertical vs horizontal sizes

    You don't always want exactly the same size gutters vertically as you have horizontally. You might want to have the vertical gutters that are more spaced out than the horizontal gutters. This upgrade will allow you to do that by defining 2 gutter widths when defining gutters instead of just 1.