
.mixin {
	&-1 {
		@include grid;
	}

	&-2 {
		@include grid(2);
	}

	&-3 {
		@include grid(3);
	}

	&-4 {
		@include grid(4);
	}

	&-5 {
		@include grid(5);
	}

	&-6 {
		@include grid(6);
	}


	&-7 {
		@include grid(7, $breakpoints: (
			25% : 960px,
			50% : (max, 600px),
			100% : 480px,
		));
	}
	&-7B {
		@include grid(7, $breakpoints: (
			4 : 960px,
			2 : (max, 600px),
			1 : 480px,
		));
	}

	&-8 {
		@include grid(3, $wrap: true);
	}

	&-9 {
		@include grid(6, $wrap: false);
	}

	&-10 {
		@include grid(4, $wrap: true);
	}

	&-11 {
		@include grid(4, $MQs: false, $wrap: true);
	}

	&-12 {
		 @include grid(3, $gutter: 'moduleName', $wrap: true);
	}

	&-13 {
		@include grid(3, $gutter: 'mediaQueryGutter', $wrap: true, $MQs: false);
	}

	&-14 {
		 @include grid(3, $outerGutters: true, $gutter: 'moduleName', $wrap: true);
	}

	&-15 {
		@include grid(3, $outerGutters: h, $gutter: 'moduleName', $wrap: true);
	}

	&-16 {
		@include grid(3, $outerGutters: v, $gutter: 'moduleName', $wrap: true);
	}

	&-17 {
		@include grid(3, $outerGutters: top, $gutter: 'moduleName', $wrap: true);
	}

	&-18 {
		@include grid(3, $outerGutters: bottom, $gutter: 'moduleName', $wrap: true);
	}

	&-19 {
		@include grid(3, $outerGutters: left, $gutter: 'moduleName', $wrap: true);
	}

	&-20 {
		@include grid(3, $outerGutters: right, $gutter: 'moduleName', $wrap: true);
	}

	&-21 {
		@include grid(3, $outerGutters: h-delayed, $gutter: 'moduleName', $wrap: true);
	}

	&-22 {
		@include grid(3, $outerGutters: left-delayed, $gutter: 'moduleName', $wrap: true);
	}

	&-23 {
		@include grid(3, $outerGutters: right-delayed, $gutter: 'moduleName', $wrap: true);
	}

	&-24 {
		@include grid(2, $inners: true);
	}

	&-25 {
		@include grid(2, $inners: true, $gutter: 'moduleName');
	}

	&-26 {
		@include grid(3, $wrap: true);
	}

	&-27 {
		@include grid(3, $align: left, $wrap: true);
	}

	&-28 {
		@include grid(3, $align: right, $wrap: true);
	}

	&-29 {
		@include grid(3, $align: center, $wrap: true);
	}

	&-30 {
		@include grid(3, $space: between, $wrap: true);
	}

	&-31 {
		@include grid(3, $space: around, $wrap: true);
	}

	&-32 {
		@include grid($space: around, $inners: true);
	}

	&-33 {
		@include grid($vertical: true, $gutter: 'moduleName');
	}

	&-34 {
		@include grid($vAlign:top);
	}

	&-35 {
		@include grid($vAlign:bottom);
	}

	&-36 {
		@include grid($vAlign:center);
	}

	&-37 {
		@include grid($vAlign: center, $inners: true, $gutter: 'moduleName');
	}

	&-38 {
		@include grid(3, $inners: true, $gutter: 'moduleName');
	}

	&-39 {
		@include grid($wrap: false);
	}

	&-40 {
		@include grid($stretch: false, $wrap: false);
	}

	&-41 {
		@include grid($shrink: false, $wrap: false);
	}

	&-42 {
		@include grid($resize: false, $wrap: false);
	}

	&-43 {
		@include grid($mini: true);
		width: 50%;
	}

	&-44 {
		@include grid;
		width: 50%;
	}

	&-45 {
		@include grid(3, $ieFloat: true);
	}

	&-46 {
  	@include grid(3, $gutter: 'mixedSizeGutter', $wrap: true);
	}

	&__cellSpan {
		@include grid__cell--span(3, 4);
	}

	&__wrapper {
		overflow: hidden;
	}

	&__paddingHack {
		padding-top: 1px;
	}

	&__oddOneOut {
		align-self: flex-start;
	}

	&__noResize {
		flex-grow: 0;
		flex-shrink: 0;
	}

	&__noGrowth {
		flex-grow: 0;
	}

	&__noShrink {
		flex-shrink: 0;
	}
}
