block content
	:marked
		Cells can be made to take up more than just a single column width by using a `grid__cell--span-#` class. The `#` being the number of columns you wish for the cell to span.

	+demo({
html:`
.grid.grid--cols-4.grid--wrap
	.grid__cell.grid__cell--span-3.-color-1
	.grid__cell.-color-2
	.grid__cell.-color-3
	.grid__cell.-color-4
	.grid__cell.-color-5
	.grid__cell.-color-6
`})

	:marked
		Grids that feature column spans often don't play nicely with the default media queries though. To work around this, it's usually best to simply disable the media queries on that particular grid and write your own custom styles with new media queries. To disable media queries on a grid, add the `grid--noMQs` class.

	+demo({
html:`
.grid.grid--noMQs.grid--cols-4.grid--wrap
	.grid__cell.grid__cell--span-3.-color-1
	.grid__cell.-color-2
	.grid__cell.-color-3
	.grid__cell.-color-4
	.grid__cell.-color-5
	.grid__cell.-color-6
`})
		:marked
			Same example as above except this time with the default media queries disabled. Resize your screen to see the difference.
