block content
  :marked
    _The demos on this page will not display on IE8 due to IE8's lack of support for the `box-shadow` property._

    If a grid has gaps, trying to add borders or shadows to it directly won't work

  +demo({
    classes: {
html:`
.grid__wrapper
  .grid.grid--cols-3.grid--gutter-20.grid--hasInners
    .grid__cell.demonstrate-shadow-border
    .grid__cell.demonstrate-shadow-border
    .grid__cell.demonstrate-shadow-border
    .grid__cell.demonstrate-shadow-border
    .grid__cell.demonstrate-shadow-border
    .grid__cell.demonstrate-shadow-border
`
    },

    mixin: {
html:`
.mixin__wrapper
  .mixin-shadows-example
    .mixin__cell.demonstrate-shadow-border
    .mixin__cell.demonstrate-shadow-border
    .mixin__cell.demonstrate-shadow-border
    .mixin__cell.demonstrate-shadow-border
    .mixin__cell.demonstrate-shadow-border
    .mixin__cell.demonstrate-shadow-border
`,
scss:`
.mixin-bad-shadows-example {
  @include grid(3, 20px);
}

// These are not part of Gutter Grid
.mixin__wrapper { padding-bottom: 0.1px; }
.demonstrate-shadow-border.add-padding Shadow cell { box-shadow: inset 0 0 0 2px red, 0 0 10px #000; }
`,
    }
})
     :marked
        A failed attempt at adding shadows to the grid cells. The shadows are out of alignment.

  :marked
    The reason it doesn't look right is because Gutter Grid uses invisible borders to create the gaps. When you add shadows to the grid cells, the shadows also have to wrap around the gaps.

    The `grid__inner` technique can be used to help with this problem. Whenever you want the child element of a grid cell to take up the same dimensions as the content area of that cell, you can use `grid__inner` / `$inners:true`.

  +demo({
    classes: {
html:`
.grid__wrapper
  .grid.grid--gutter-20.grid--cols-3.grid--hasInners
    .grid__cell
      .grid__inner.add-shadow.add-padding Shadow cell
    .grid__cell
      .grid__inner.add-shadow.add-padding Shadow cell
    .grid__cell
      .grid__inner.add-shadow.add-padding Shadow cell
    .grid__cell
      .grid__inner.add-shadow.add-padding Shadow cell
    .grid__cell
      .grid__inner.add-shadow.add-padding Shadow cell
    .grid__cell
      .grid__inner.add-shadow.add-padding Shadow cell
`
    },

    mixin: {
html:`
.mixin__wrapper
  .mixin-shadows-example
    .mixin__cell
      .mixin__inner.add-shadow.add-padding Shadow cell
    .mixin__cell
      .mixin__inner.add-shadow.add-padding Shadow cell
    .mixin__cell
      .mixin__inner.add-shadow.add-padding Shadow cell
    .mixin__cell
      .mixin__inner.add-shadow.add-padding Shadow cell
    .mixin__cell
      .mixin__inner.add-shadow.add-padding Shadow cell
    .mixin__cell
      .mixin__inner.add-shadow.add-padding Shadow cell
`,
scss:`
.mixin-shadows-example {
  @include grid(3, 20px, $inners: true);
}

// These are not part of Gutter Grid
.mixin__wrapper { padding-bottom: 0.1px; }
.add-shadow.add-padding Shadow cell { box-shadow: 0 0 10px #000; }
`,
    }
})
     :marked
        Using inner grid elements to add clean shadows to the grid cells.

  :marked
    ### Using box shadow as a fake border

    You might have noticed in the first example that I was able to add something that looked a lot like a border to each grid cell without needing to user `inner` elements. The secret to that is using a solid _inset_ `box-shadow`.

  +demo({
    classes: {
html:`
.grid__wrapper
  .grid.grid--cols-2.grid--gutter-20
    .grid__cell.add-fakeBorder.add-padding
      p.
        You can use <code>box-shadow</code> to add a solid fake border to grid cells without needing to use inner elements.
    .grid__cell.add-fakeBorder.add-padding
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bonum incolumis acies: misera caecitas.
        Cur, nisi quod turpis oratio est? Atque haec coniunctio confusioque virtutum tamen a philosophis ratione quadam distinguitur.
        At ille pellit, qui permulcet sensum voluptate. Videamus igitur sententias eorum, tum ad verba redeamus.
        Duo Reges: constructio interrete. Quantum Aristoxeni ingenium consumptum videmus in musicis.
`,
scss:`
//Define gutter sizes like this
$grid-cell-gutters: (
  20 : 20px,
);

@import '../node_modules/mq-scss/mq';
@import '../node_modules/gutter-grid/grid-classes';

.add-fakeBorder {
  box-shadow: inset 0 0 0 2px red;
}
`
    },

    mixin: {
html:`
.mixin__wrapper
  .mixin-25B
    .mixin__cell.add-fakeBorder.add-padding
      p.
        You can use <code>box-shadow</code> to add a solid fake border to grid cells without needing to use inner elements.
    .mixin__cell.add-fakeBorder.add-padding
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bonum incolumis acies: misera caecitas.
        Cur, nisi quod turpis oratio est? Atque haec coniunctio confusioque virtutum tamen a philosophis ratione quadam distinguitur.
        At ille pellit, qui permulcet sensum voluptate. Videamus igitur sententias eorum, tum ad verba redeamus.
        Duo Reges: constructio interrete. Quantum Aristoxeni ingenium consumptum videmus in musicis.
`,
scss:`
.mixin__wrapper {
  overflow: hidden;
}

.mixin-25B {
  @include grid(2, 20px);
}

.add-fakeBorder {
  box-shadow: inset 0 0 0 2px red;
}
`,
    }
})
    :marked
      Adding borders to each cell without having to use inner elements (doesn't work in IE8).
