block content
  :marked
    The `grid__inner` technique can be used for more than just nesting grids. Whenever you want the child element of a grid cell to take up the same dimensions as the content area of that cell, you can use `grid__inner` / `$inners:true`.

    The most common use case for wanting to do this is when you want to apply either a border or a box shadow to each cell in a grid that also features a gutter between each cell. Gutters are made by adding invisible borders to each of the grid cells. So trying to add borders or box shadows directly to the grid cells doesn't work.

    Just note that the `mixin__cell` and `mixin__inner` class names aren't needed for the mixin version to work but the structure of the HTML *is* needed.

  +demo({
    classes: {
html:`
.grid.grid--hasInners.grid--gutter-moduleName.grid--cols-2
  .grid__cell
    .grid__inner.add-border.add-shadow.add-padding
      p.
        To give grid cells a border or shadow as well as a gutter, you will need to use <code>grid__inner</code>

  .grid__cell
    .grid__inner.add-border.add-shadow.add-padding
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bonum incolumis acies: misera caecitas.
        Cur, nisi quod turpis oratio est? Atque haec coniunctio confusioque virtutum tamen a philosophis ratione quadam distinguitur.
        At ille pellit, qui permulcet sensum voluptate. Videamus igitur sententias eorum, tum ad verba redeamus.
        Duo Reges: constructio interrete. Quantum Aristoxeni ingenium consumptum videmus in musicis.
`
    },

    mixin: {
html:`
.mixin-25
  .mixin__cell
    .mixin__inner.add-border.add-shadow.add-padding
      p.
        To give grid cells a border or shadow as well as a gutter, you will need to use <code>grid__inner</code>

  .mixin__cell
    .mixin__inner.add-border.add-shadow.add-padding
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bonum incolumis acies: misera caecitas.
        Cur, nisi quod turpis oratio est? Atque haec coniunctio confusioque virtutum tamen a philosophis ratione quadam distinguitur.
        At ille pellit, qui permulcet sensum voluptate. Videamus igitur sententias eorum, tum ad verba redeamus.
        Duo Reges: constructio interrete. Quantum Aristoxeni ingenium consumptum videmus in musicis.
`,
scss:`
.mixin-25 {
  @include grid(2, 20px, $inners: true);
}
`,
    }
})
  :marked
    Unfortunately, if you are adding shadows, you can't use the `grid__wrapper` element to prevent the spacing bug in Chrome from occurring like you normally would. `grid__wrapper` is just applying `overflow:hidden`. Using `overflow:hidden` will also hide the shadows though.

    You will need to find other ways to work around the bug. One way I have found is adding 1 pixel to the top and bottom padding of the parent element. It doesn't fix the problem outright but it at least makes the bug far less obvious.

  +demo({
    classes: {
html:`
div(style="padding: 1px 0;")
  .grid.grid--hasInners.grid--gutter-moduleName.grid--cols-2
    .grid__cell
      .grid__inner.add-border.add-shadow.add-padding
        p.
          To give grid cells a border or padding as well as a gutter, you will need to use <code>grid__inner</code>

    .grid__cell
      .grid__inner.add-border.add-shadow.add-padding
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bonum incolumis acies: misera caecitas.
          Cur, nisi quod turpis oratio est? Atque haec coniunctio confusioque virtutum tamen a philosophis ratione quadam distinguitur.
          At ille pellit, qui permulcet sensum voluptate. Videamus igitur sententias eorum, tum ad verba redeamus.
          Duo Reges: constructio interrete. Quantum Aristoxeni ingenium consumptum videmus in musicis.
`
    },

    mixin: {
html:`
.mixin__paddingHack
  .mixin-25
    .mixin__cell
      .mixin__inner.add-border.add-shadow.add-padding
        p.
          To give grid cells a border or padding as well as a gutter, you will need to use <code>grid__inner</code>

    .mixin__cell
      .mixin__inner.add-border.add-shadow.add-padding
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bonum incolumis acies: misera caecitas.
          Cur, nisi quod turpis oratio est? Atque haec coniunctio confusioque virtutum tamen a philosophis ratione quadam distinguitur.
          At ille pellit, qui permulcet sensum voluptate. Videamus igitur sententias eorum, tum ad verba redeamus.
          Duo Reges: constructio interrete. Quantum Aristoxeni ingenium consumptum videmus in musicis.
`,
scss:`
.mixin-25 {
  @include grid(2, $inners: true, $gutter: 20px);
}

.mixin__paddingHack {
  padding: 1px 0;
}
`,
    }
})
    :marked
      Using padding to mitigate the Chrome spacing bug

  :marked
    ### Using box shadow as a fake border

    If you want to add a border around each grid cell but can't (or don't want to) add an extra `inner` element, you can actually use an inset box-shadow on each cell to create the same effect.

  +demo({
    classes: {
html:`
.grid__wrapper
  .grid.grid--gutter-20.grid--cols-2
    .grid__cell.add-fakeBorder.add-padding
      p.
        You can use <code>box-shadow</code> to add a solid fake border to grid cells without needing to use inner elements.
    .grid__cell.add-fakeBorder.add-padding
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bonum incolumis acies: misera caecitas.
        Cur, nisi quod turpis oratio est? Atque haec coniunctio confusioque virtutum tamen a philosophis ratione quadam distinguitur.
        At ille pellit, qui permulcet sensum voluptate. Videamus igitur sententias eorum, tum ad verba redeamus.
        Duo Reges: constructio interrete. Quantum Aristoxeni ingenium consumptum videmus in musicis.
`,
scss:`
//Define gutter sizes like this
$grid-cell-gutters: (
  20 : 20px,
);

@import '../node_modules/mq-scss/mq';
@import '../node_modules/gutter-grid/grid-classes';

.add-fakeBorder {
  box-shadow: inset 0 0 0 2px red;
}
`
    },

    mixin: {
html:`
.mixin__wrapper
  .mixin-25B
    .mixin__cell.add-fakeBorder.add-padding
      p.
        You can use <code>box-shadow</code> to add a solid fake border to grid cells without needing to use inner elements.
    .mixin__cell.add-fakeBorder.add-padding
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bonum incolumis acies: misera caecitas.
        Cur, nisi quod turpis oratio est? Atque haec coniunctio confusioque virtutum tamen a philosophis ratione quadam distinguitur.
        At ille pellit, qui permulcet sensum voluptate. Videamus igitur sententias eorum, tum ad verba redeamus.
        Duo Reges: constructio interrete. Quantum Aristoxeni ingenium consumptum videmus in musicis.
`,
scss:`
.mixin__wrapper {
  overflow: hidden;
}

.mixin-25B {
  @include grid(2, 20px);
}

.add-fakeBorder {
  box-shadow: inset 0 0 0 2px red;
}
`,
    }
})
