
mixin systemSwitch(spec)
	-
		spec = defaultTo(spec, {
			classes : '',
		});

	.systemSwitch(class=spec.classes)&attributes(attributes)
		if block
			block
		else
			p This is an example paragraph for the systemSwitch module
