
mixin systemSwitch(spec)
	-
		spec = defaultTo(spec, {
			classes : '',
		});

	form.systemSwitch(class=spec.classes)&attributes(attributes)
		fieldset.systemSwitch__fieldset
			legend.systemSwitch__legend Preferred system:

			.systemSwitch__grid.grid.grid--noWrap.grid--mini.grid--hasInners
				label.systemSwitch__label.grid__cell
					input.TK-visHid(type="radio" name="PreferredSystem").systemSwitch__radio
					span.systemSwitch__text Classes

				label.systemSwitch__label.grid__cell
					input.TK-visHid(type="radio" name="PreferredSystem" checked).systemSwitch__radio
					span.systemSwitch__text Mixin
