.skipLinks {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	&__link:focus {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: brand(1);
		color: brand(1, 'text');
		font-weight: bold;
		text-decoration: underline;
		z-index: 99999999;
		text-align: center;
		padding: 10px;
	}

	&__target {
		outline: none;

		&::before {
			content: '';
			display: block;
			height: 10rem;
			margin-top: -10rem;
		}
	}
}
