.skipLinks {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	&__link:focus {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: brand(2);
		color: brand(2, 'text');
		text-decoration: underline;
		z-index: 99999999;
		text-align: center;
		padding: 10px;
	}
}
