include /_prototype-only/_1_modules/templateList/templateList

mixin skipLinks(spec)
	-
		spec = defaultTo(spec, {
			classes : '',
		});

	.skipLinks(class=spec.classes)&attributes(attributes)
		+templateList('trigger')
		-
			var skipLinks = {
				"Skip to side navigation" : "#contentStart-sideNav",
				"Skip to content" : "#contentStart-1",
			};
		each href, text in skipLinks
			a.skipLinks__link.TK-skipLink(href=href) #{text}

		+templateList()
