
-
	function render(pugMarkup, settings, locals){
		return compile(pugMarkup, { pretty: true })(locals);
	}

mixin demo(demoMarkup, type)
	-var type = typeof type !== 'undefined' ? type : 'html';
	-var markup = type === 'html' ? render(demoMarkup) : demoMarkup;

	aside.demo
		if block
			.demo__summary.demo__segment
				block
		.demo__example
			.demo__result.demo__segment
				!=markup
			.demo__markup.demo__segment
				pre
					code(class=type)= markup