
$MQ-text--is-small: (max, bp('small'));

.logo {
	margin: 0;
	filter: drop-shadow(0 0 20px #fff);
	text-shadow: 0 0 5px #fff;

	&__parent {
		fill: brand(1);
	}
	&__svg, &__backup {
		width: 120px;
		height: 120px;
		@include mq($MQ-text--is-small){
			height: 80px;
			width: 80px;
		}
	}
	&__text {
		display: block;
		line-height: 1;
		text-align: left;

		@include mq($MQ-text--is-small){
			font-size: 40px;

			.logo & code {
				font-size: 10px;
			}
		}
	}

	.lt-ie9 & {
		&__grid, &__cell {
			border-color: #D1D1D1 !important;
		}
		&__svg {
			display: none;
		}
	}
}
