
/*================================================*\
	TOOLTIP STYLES
//-----------------------------------------------
//	Holds the styles for the css tooltip
\*================================================*/

$C-background: brand(2);
$C-text: brand(2,'text');

$V-icon-size: 10px;
$V-transitionDuration: 0.3s;

$MQ-tooltip--is-diabled: (max, bp('tablet'));

$module: 'tooltip';

.#{$module} { position: relative;
	&:hover, &:focus {
		outline: none;
		box-shadow: none;
		.#{$module} {
			&__text {
				.lt-ie9 & { display: block!important; }
				transform: scale(1);
				opacity: 1;
				visibility: visible;
				$tooltipTransition--open:
					(
						attributes: transform opacity,
						duration: $V-transitionDuration,
					), (
						attributes: visibility,
						delay: 0s,
						duration: 0s,
					)
				;
				@include MG-animate($tooltipTransition--open);

				@include mq($MQ-tooltip--is-diabled){
					display: none;
				}
			}
		}
	}

	&__text {
		$tooltipTransition:
			(
				attributes: transform opacity,
				duration: $V-transitionDuration,
			), (
				attributes: visibility,
				delay: $V-transitionDuration,
				duration: 0s,
			)
		;
		@include MG-animate($tooltipTransition);
		transform: scale(0);
		opacity: 0;
		transform-origin: bottom center;
		position: absolute;
		text-align: center;
		bottom: 100%;
		margin-bottom: $V-icon-size;
		left: 50%;
		margin-left: -150px;
		background: $C-background;
		color: $C-text;
		width: 300px;
		border-radius: 3px;
		font-size: 13px;
		padding: 10px;
		z-index: 5;
		line-height: 1;
		visibility: hidden;
		.lt-ie9 & { display: none; }

		&--slim {
			width: 100px;
			margin-left: -50px;
		}

		&:before {
			content: '';
			display: block;
			@include MG-centered(h);
			@include MG-tri(down,$C-background,$V-icon-size);
			top: 100%;
		}
		&--align {
			&-bottom-center,
			&-bottom-left,
			&-bottom-right {
				bottom: auto;
				top: 100%;
				margin-top: $V-icon-size + 5;
				&:before {
					@include MG-tri(up,$C-background,$V-icon-size);
					top: auto;
					bottom: 100%;
				}
			}
			&-bottom-center { transform-origin: top center; }

			&-bottom-right,
			&-top-right {
				left: auto;
				right: 0;
				margin-left: 0;
				margin-right: -8px;
				&:before {
					@include MG-tri(up,$C-background,$V-icon-size);
					left: auto;
					right: 10px;
				}
			}
			&-bottom-right { transform-origin: top right; }
		}
	}
}

.tooltipSwap {
	&__alternateText { display: none; }
	&--swapped-JS {
		.tooltipSwap {
			&__alternateText { display: inline; }
			&__defaultText { display: none; }
		}
	}
}
