//- system file loader

//- setting up the global variables that are used across multiple functions to be defined later
- var get, location;

include ../config/imgFormats

include ../php-to-js-translators
include ../hasSubnav
include ../isActive
include ../array_has_string
include ../amCurrentlyUnder

include ../Get-function
include GET-helper-functions/update_last
include GET-helper-functions/digForLast
include GET-helper-functions/returnWith
include GET-helper-functions/getNextLocation
include GET-helper-functions/getPrevLocation
include GET-helper-functions/getPrevNext
include GET-helper-functions/getSiblingParent
include GET-helper-functions/hasLinkGen
include GET-helper-functions/getNavMap
