block content
  :marked
    ### Features planned for a future releases

    - **Gutters with different vertical vs horizontal sizes**<br/>
      You don't always want exactly the same size gutters vertically as you have horizontally. You might want to have the vertical gutters that are more spaced out than the horizontal gutters. This upgrade will allow you to do that by defining 2 gutter widths when defining gutters instead of just 1.

    ### Previous and current version updates

    - **v2.0.0**<br/>
      - Now comes in Sass mixin flavour
      - Improved legacy browser support
      - Reduced specificity on class based selectors for easier overriding of styles

    - **v1.0.1**<br/>
      Readme update

    - **v1.0.0**<br/>
      Origional release featuring only the class based system
