// chevron styles
.chevron {
	transition: transform 0.3s ease-in-out;
	height: 10px;
	width: 15px;
	display: inline-block;
	position: relative;
	@include MG-before {
		@include MG-chevron(down, #fff, 10px);
	}

	.-accordion-isOpen & {
		transform: rotate(180deg);
	}
}
