
html {
	//Makes it easier to alter font size with rem's. 1.3rem = 13px
	font-size: 62.5%;
}

body {
	padding: 0;
	position: relative;
	color: $CF-body__text;

	html:not(.lt-ie10) & {
		background: radial-gradient(ellipse at top, lighten($CB-green-light, 20%), #fff);

		&::before {
			opacity: 0.4;
			z-index: -1;
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
	
			//Carbon background pattern
			//http://lea.verou.me/css3patterns/#carbon
			background:
			linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
			linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
			linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
			linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
			linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
			linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
			background-color: #131313;
			background-size: 20px 20px;
		}
	}
}

.markdown-body nav {
	ul, ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.wrapper {
	width: 100%;
	max-width: bp('page');
	margin: 0 auto;
	left: 0;
	right: 0;
	padding: 0 20px;
	box-sizing: border-box;

	@include mq(max, bp('mobile')){
		padding: 0;
	}
}

footer {
	margin-bottom: 0;
}

.markdown-body {
	width: 100%;

	p, ol, ul {
		max-width: 600px;
		max-width: 60rem;
		margin-left: auto;
		margin-right: auto;
	}

	h2,h3,h4,h5,h6,p,ul,ol{
		&:first-child { margin-top: 0; }
		&:last-child { margin-bottom: 0; }
	}

	p, li, figcaption,h2,h3,h4,h5,h6 {
		> code {
			background-color: #e4e6ec;
			border: 1px solid #a9abaf;
			border-radius: 3px;
			padding: 2px 3px;
			font-size: 0.85em;

			@include mq(min, bp('mobile')) {
				white-space: nowrap;
			}
		}
	}

	h2, h3, h4, h5 {
		max-width: 700px;
		max-width: 70rem;
		margin-left: auto;
		margin-right: auto;
	}

	h2, h3, h4, h5, figcaption {
		font-family: Georgia, serif;
		font-style: italic;
		color: $CB-green-dark;
	}

	h2 {
		font-size: 28px;
		padding-top: 50px;
		&:first-child {
			padding-top: 0px;
		}
	}

	h3 {
		font-size: 22px;
	}

	h4 {
		font-size: 20px;
		color: #000;
	}

	h5 {
		font-size: 16px;
		color: #000;
	}

	figcaption {
		font-size: 1.2em;
		border-bottom: 1px solid #315116;
		color: #315116;
	}

	blockquote {
		margin: 50px 0;
		padding: 1.5em;
		text-align: center;
		&:before {
			display: none;
		}
		ul {
			padding: 0;
			list-style: none;
			li {
				padding: 0;
				&:before {
					display: none;
				}
			}
		}
	}

	pre {
		background-color: #282c34;
		padding: 0;
		&, &.lines {
			margin: 0;
			padding:{left: 0; right: 0;}
		}
		&.lines {
			background-color: #000;
			width: 40px;
			padding: {left: 0; right: 0;}
			text-align: center;
		}
		code {
			padding: 10px 5px;
			font-size: 1em;
		}
	}
	.no-flexbox & {
		max-width: 780px;
	}

	hr {
		margin: 1.5em 0;
	}
}

.add {
	&-border {
		border: 2px solid red !important;
	}
	&-shadow {
		box-shadow: 0 0 10px #000;
	}
	&-padding {
		padding: 15px !important;
	}
	&-fakeBorder {
		box-shadow: inset 0 0 0 2px red;
	}
}

.demonstrate-shadow-border {
	box-shadow: inset 0 0 0 2px red, 0 0 10px #000;
}

.wideBox {
	height: 50px;
	width: 500px;
}

.thinBox {
	height: 50px;
	width: 50px;
}

#main {
	margin-top: 0;
}

.avatar {
	position: absolute;
	left: 0;
}


.title .small {
	font-size: 14px;
}

p.tagline { padding: 15px 20px; margin: 0; }

.header {
	.lines {
		display: none;
	}
	&__npm {
		text-align: center;
		code {
			background-color: #000;
			color: $CB-green-light;
			padding: .5em;
			display: block;
		}
	}
}

.creds {
	margin: 0;

	a {
		text-decoration: underline;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}

.no-csstransforms {
	.blc, .trc {
		display: none;
	}
}