block content
  :marked
    This is just the initial release. There are 2 more features that I plan to build into the grid system.

    ### 1 Mixin version

    It's not always possible to have full control over what markup a CMS gives you so it's important that the grid system is able to be applied through just mixins.

    The code for the mixin version is already mostly built however it hasn't got feature parity with the class system yet. Also the documentation for it still needs to be written.

    ### 2 Gutters with different vertical to horizontal sizes

    You don't always want exactly the same size gutters vertically as you have horizontally. You might want to have the vertical gutters that are more spaced out than the horizontal gutters. This upgrade will allow you to do that by defining 2 gutter widths when defining gutters instead of just 1.