
mixin example(spec)
	-
		spec = defaultTo(spec, {
			classes : '',
		});

	.example(class=spec.classes)&attributes(attributes)
		if block
			block
		else
			p This is an example paragraph for the example module
